[2015-05-07 12:56] blundell opened #1 "Implement a default NotificationImageRetriever for lazy ppl"
https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/NotificationImageRetriever.java

[2015-05-07 12:56] blundell opened #2 "Remove dependency between supplying NotificationImageRetriever & Application class"
https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/DownloadService.java#L161

[2015-05-07 13:28] #1 closed, assigned to nobody

[2015-05-07 14:12] blundell opened #3 "If two apps are installed with this lib they'll clash contentprovider names"
Meaning the second won't work?

https://github.com/novoda/download-manager/blob/master/library/src/main/AndroidManifest.xml#L14-L17

[2015-05-07 14:13] amlcurran opened #4 "Improve Request API"
Some of the items are to be mandatory, even though it is a builder.Also the saveToInternalDir could be a more generic save to file

[2015-05-08 10:09] blundell commented on #2
This is less of an issue now as we have provided a default NtificationImageRetreiver if you don't supply one via Application.

We also looked at making this change and to remove the dependency actually makes the library more complicated to use, so needs more thought.

[2015-05-08 11:24] amlcurran opened #6 "Remove system downloads code"
Some of the code can only be run by the system app (such as accessing all downloads), so we can't use it. We should remove it for clarity.

https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/DownloadManager.java#L348
https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/Request.java#L149

[2015-05-08 12:44] xrigau commented on #6
:+1:

[2015-05-08 13:30] #3 closed

[2015-05-08 13:53] blundell opened #7 "Ensure all resources have a library prefix"
We need to prefix with `dm__` so that we don't get clashes when people use the lib and also easier to find all resources.

i.e.

`ic_action_cancel` should be `dm__ic_action_cancel`

[2015-05-08 13:56] xrigau commented on #7
[code]

http://tools.android.com/tech-docs/new-build-system

[2015-05-08 14:08] amlcurran opened #8 "Consider not exposing cursors"
It'd be great to expose value objects not a cursor because then we have type-safety and don't enforce lifecycle constraints on our users (e.g. they need to call `Cursor#close()`)

[2015-05-08 14:37] blundell commented on #7
no! eeevil

[2015-05-08 14:45] xrigau commented on #7
reasons or I'm out!

[2015-05-08 15:07] blundell commented on #7
when reading source it is not obvious what the actual file name is

[2015-05-11 08:58] amlcurran opened #11 "Improve set-up for library"
Currently requires a class which is accessed through reflection _and_ a manifest placeholder. Consider using a Gradle plug-in or similar to do this?

[2015-05-11 10:56] friedger commented on #11
using a plugin to use a library seems not the right way. Better go for convention:
$applicationId.downloads is the authority by default. If the user of the app doesn't like that he can add some code.

[2015-05-11 13:40] blundell opened #12 "AvoidFieldNameMatchingTypeName"
Authority.java:6, AvoidFieldNameMatchingTypeName, Priority: Normal
It is somewhat confusing to have a field name matching the declaring class name.

It is somewhat confusing to have a field name matching the declaring class name. This probably means that type and/or field names should be chosen more carefully.

[code]

[2015-05-11 13:41] blundell commented on #12
(use an interface)

[2015-05-11 14:46] blundell commented on #11
you can't get the clients application id from the library code. Or show here code how? :smile:

[2015-05-11 15:02] mr-archano commented on #11
@amlcurran could you elaborate further on:

I thought the only thing needed was specifying the authority (could be a resource). What am I missing?

[2015-05-11 15:10] amlcurran commented on #11
The authority is required for URI matching (which is initialised statically). So no resources, unless we change all the URIs to be instance fields

[2015-05-11 15:49] blundell commented on #11
https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/DownloadProvider.java#L64

&

https://github.com/novoda/download-manager/blob/master/library/src/main/AndroidManifest.xml#L20

[2015-05-12 05:17] friedger commented on #11
I don't see a reason why URI matching should be initialised statically (besides performance). If we get rid of the static field we can use the `Context` for defining the authority

[2015-05-12 07:49] blundell commented on #11
Yes that is one solution, however there are a lot of fields using the static when you follow the chaining so it'd need indepth testing. We are also at the moment inline with the system DownloadManager and making this chain would be a big separation ... which is fine just we need to justify it.

[2015-05-12 08:57] friedger commented on #11
here to see the impact... https://github.com/novoda/download-manager/pull/13

[2015-05-12 12:44] #7 closed

[2015-05-12 14:00] blundell opened #14 "Consider public interface"
What classes with @hide should be not visible? Perhaps we should add some sub packages

[2015-05-12 14:11] xrigau commented on #14
:+1:

[2015-05-13 10:04] amlcurran commented on #14
Noticed that now we've moved `DownloadManager.Query` and `DownloadManager.Request` into their own classes, but the names are too generic now (just `Query` and `Request`)

[2015-05-13 10:08] amlcurran opened #15 "Notification view intent uses android.app.DownloadManager"
Should use our own ~~(is this why we're getting crashes?)~~ this just doesn't do anything when you click the notification

https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/OpenHelper.java#L37

[2015-05-13 10:15] blundell commented on #15
ha, nice spot :+1:

[2015-05-13 10:22] amlcurran commented on #14
Integration point: this will make MUBI fail to compile for now: 56af54471a2dd52ff6e60de72f37e085058ed543

[2015-05-13 12:54] amlcurran commented on #14
Fixed by #16

[2015-05-13 12:54] #14 closed

[2015-05-15 08:30] blundell opened #18 "Remove all upgrade code"
we only have one version of the database table at the moment lets simplify the code we have to maintain

[2015-06-02 10:02] amlcurran opened #19 "Library still creates verbose logs even if logs are turned off"
Won't actually print the logs, but creates the string for them. Results in logs of GC churn.

https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/DownloadProvider.java#L866

[2015-06-02 11:53] #19 closed

[2015-06-04 11:08] xrigau opened #22 "Pull the latest changes from AOSP"
It'd be good to pull changes/improvements/bugfixes (if any) from the AOSP from Lollipop or even Android M

[2015-06-05 10:25] ronocod commented on #22
2 issues we've found with this:

* There's already been so many changes from the AOSP code that merging in newer versions will be very time-consuming.
* AOSP has moved to using JobScheduler for downloads cleanup since last June, so we'll have to remove any AOSP code that's not compatible with API 14.

[2015-06-05 10:26] ronocod commented on #22
Also if we move away from keeping the code AOSP-based then we can start refactoring a lot more as we wouldn't care about staying close to the original code.

[2015-06-05 12:53] blundell commented on #22
yeah we don't want to pull changes. Only any perf improvements or bug fixes that we notice in the aosp issue list.

[2015-06-19 10:11] ouchadam opened #31 "Serialised downloads show as `download running` instead of queued"

[2015-06-19 15:08] #22 closed

[2015-06-19 15:09] ouchadam commented on #15
got a crash early with this

[code]

[2015-06-19 15:11] #31 closed

[2015-06-19 15:11] blundell commented on #2
this won't happen anytime soon - if anything we're going in the opposite direction.

[2015-06-19 15:11] #2 closed

[2015-06-26 15:22] amlcurran opened #38 "Remove system DOWNLOAD_WITHOUT_NOTIFICATION permission"
Currently downloading without a notification uses a system permission - but this download manager is not a system service (unlike the AOSP one). We should investigate if it is required, or at the very least namespace the permission to a novoda namespace

[2015-06-26 16:07] blundell commented on #38
@ronocod you did something about this on your branch?

[2015-06-26 16:13] ronocod commented on #38
Yeah, as far as I remember we're removing that as it makes no sense when the library is external to the OS. If anyone wanted to bypass the permission they could just fork the repo and remove it.

[2015-06-29 09:49] amlcurran commented on #38
I don't even think download without notification will work reliably because our downloadmanager can get killed (the system one can't). So perhaps we should remove this feature, or at least do some investigation

[2015-06-29 09:51] Dorvaryn commented on #38
@amlcurran We will need the ability to download without a notification for our project.
Maybe we should investigate this.

[2015-06-29 15:05] #18 closed

[2015-06-30 15:21] ouchadam opened #48 "Investigate performance"
We've noticed a few places with duplicated code (download rule checking in both download thread and queue submitting)

Download rule checks are called on every download table update

SQL queries can be better optimised (sum columns etc)

[2015-07-02 13:06] ronocod opened #51 "Unsuccessful download notification reappearing after being dismissed"
This occurs while another download is active

[2015-07-03 09:58] amlcurran opened #57 "Add PRB"
Would be useful to know whether we're reducing the tide of AOSP checkstyle issues or not

[2015-07-03 10:00] amlcurran opened #58 "Improve demo apps"
- ~~Split each feature in the extended demo into its own activity (makes it more obvious)~~
- Add a switch to show downloads or batches in the list
- Prettify
- multiple adapters per package so each activity is understandable on it's own
- ~~Add READMEs inside specific packages explaining demos~~

Anything else?

[2015-07-03 10:01] amlcurran commented on #58
Add a delete all downloads button to save me having to go the app info all the time

[2015-07-03 15:29] amlcurran opened #61 "Download sometimes fails when pausing"
This may be the cause of our downloads sometimes failing. Key thing that seems to happen is that it can't delete the file?

[code]

[2015-07-03 16:51] blundell commented on #61
So you mean you press the button to pause it but then it is cancelled instead?

[2015-07-06 08:32] amlcurran commented on #61
Yeah, Xavi and I think that the file gets in some inconsistent state so it cannot resume

[2015-07-06 13:48] ronocod opened #64 "Downloads show as pending between file downloads"
When we query the status of a batch after a file has finished downloading and before the next one starts downloading, the batch will have a queued status.

[2015-07-06 16:35] amlcurran commented on #57
Added a PRB, but need to add checkstyle and PMD tasks :+1:

[2015-07-07 09:56] amlcurran commented on #58
@blundell https://github.com/novoda/download-manager/pull/69#issuecomment-119146553 :(

[2015-07-07 10:05] blundell commented on #58
? :)

[2015-07-07 10:05] blundell commented on #58
i think in the future we should have multiple adapters per package as well so that it's easily understandable what each demo does on it's own

[2015-07-07 12:54] blundell commented on #58
@amlcurran I understand what you mean now!! Yeah this was autoclosed because @xrigau wrote "Fixes #58" in his PR description. I didn't close it.

[2015-07-07 12:54] blundell commented on #58
Would be nice to also add README's to each of the separate packages to explain the feature

[2015-07-07 12:58] amlcurran commented on #58
OHHH getcha. I've updated the issue now too :+1:

[2015-07-08 09:42] amlcurran opened #76 "First "single" download does not start"
Steps to repro:
- Go to pause & resume in extended sample
- Press download button

What happens:
- Download does not start until you queue a second download

What should happen:
- Download should start without requiring another download

[2015-07-08 09:48] xrigau commented on #57
is this completed @amlcurran ?

[2015-07-08 09:48] xrigau commented on #57
I guess it is!

[2015-07-08 09:48] #57 closed

[2015-07-08 09:51] xrigau opened #77 "Subscribe to specific notifications"
it'd be nice if you could subscribe to, say, download state changes. So instead of getting all the events (i.e. when a file is being downloaded we get events for every chunk of the file that gets downloading), we'd get only state changes (download paused, download started, download failed, download queued...)

[2015-07-08 09:52] xrigau commented on #76
this is not a real bug, it happens because of this https://github.com/novoda/download-manager/blob/master/demo-extended/src/main/java/com/novoda/downloadmanager/demo/extended/DemoApplication.java#L34

[2015-07-08 09:52] xrigau commented on #76
as in for the first download that rule doesn't pass so it doesn't download

[2015-07-08 10:02] ouchadam commented on #76
maybe fixed by #75 but I'm also working on queued downloads not being triggered in `isAllowedToDownload` but it's a toughie

[2015-07-08 10:50] amlcurran commented on #76
fixed by #75 indeed!

[2015-07-08 10:50] #76 closed

[2015-07-08 15:39] amlcurran opened #81 "Integration tests"
We're refactoring a lot which is good but we need to have confidence that we aren't breaking anything. It'd be good to have some integration or even automation tests to flag failures early

[2015-07-09 10:36] ouchadam opened #85 "Define a Download"
Currently we have

- `FileDownloadInfo` The uri which is enqueued, given an id and downloaded

- `DownloadBatch` The id that groups FileDownloadInfo ids together

- `Download` The publicly exposed model which exposes the DownloadBatch information (such as total size)

We need better define the difference in these and whether or not the public API should know about a "batch"

[2015-07-09 10:49] blundell commented on #48
rule checks no longer function like this.

and @zegnus implemented the sum? if not should be specific issue

[2015-07-09 10:49] #48 closed

[2015-07-09 10:54] zegnus commented on #48
Time for proper profiling :)

[2015-07-09 17:19] #15 closed

[2015-07-09 17:24] ouchadam opened #90 "Media scanning, do we need it?"
Should we continue to support mime type insertion, gallery meta data etc?

I feel like this is something the client should do on download completion?

[2015-07-09 17:34] blundell commented on #90
if they choose to download to an external directory i think we should still support it. Obviously this is not relevant when we download to internal private storage.

[2015-07-09 19:32] ouchadam commented on #90
is it possible to download to an external location with this library?

This is the class I mean

https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/DownloadScanner.java

[2015-07-10 06:56] blundell commented on #90
yes, and yes I know of the scanning

https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/Request.java#L130

[2015-07-10 13:46] xrigau commented on #81
:+1:

[2015-07-10 14:23] amlcurran opened #93 "Battery concerns"
Currently setting off a download results in GCs roughly every 700ms and a pretty high CPU usage:

<img width="596" alt="screen shot 2015-07-10 at 15 23 19" src="https://cloud.githubusercontent.com/assets/666285/8620461/9fb8c3f0-2717-11e5-9e5c-6098f99788b7.png">

We should be careful about allocation of objects and requeries whenever we're inside `updateLocked`.

[2015-07-10 14:27] amlcurran commented on #93
Here's the CPU usage for a download using the Android DownloadManager...
<img width="568" alt="screen shot 2015-07-10 at 15 26 43" src="https://cloud.githubusercontent.com/assets/666285/8620553/22c55b1e-2718-11e5-99ad-bb3da1b51240.png">

[2015-07-10 14:34] blundell commented on #93
nice spot, please state device and android version

[2015-07-10 14:36] amlcurran commented on #93
done :+1:

[2015-07-13 15:51] ouchadam commented on #77
cc @amlcurran is currently working on this

[2015-07-13 16:09] amlcurran commented on #77
I am indeedy #97

[2015-07-14 10:29] xrigau commented on #77
so we could say this's been fixed?

[2015-07-14 10:34] amlcurran commented on #77
I guess we could, I'll let you do the honour

[2015-07-14 11:37] friedger opened #98 ":library:processDebugAndroidTestManifest fails in Android Studio"
When user has selected test artifact Android instrumentation test the sync fails with
[code]

Users might not aware of their settings. The library should provide a value for AndroidTest

[2015-07-14 12:05] #98 closed

[2015-07-14 13:16] friedger commented on #4
@amlcurran Seems outdated by now or needs more clarification.

[2015-07-14 13:18] amlcurran commented on #4
@friedger yeah you're probably right!

[2015-07-14 13:18] #4 closed

[2015-07-14 13:21] amlcurran opened #100 "Status of batch should not go to Queued between items"
Currently the status of a batch will go from downloading, queued, and then downloading again when it finishes one download but is about to start another. It'd be good if this didn't update the batch status as "queued" in the middle, giving the user a more consistent experience

[2015-07-14 13:23] friedger opened #101 "Notification is shown after batch quickly deleted"
In demo-extend:
A download notification is shown after the user quickly the delete button after adding a new download, i.e. before the download notification is shown.

This can be reproduced by setting a break point e.g. in `DownloadNotifier.buildNotificationTag`

[2015-07-14 13:34] friedger opened #102 "Delete button sometimes not reacting"
In demo-extend:
Delete buttons seems to not respond to clicks sometimes

Nexus 4, Android 5.1

[2015-07-14 13:35] friedger opened #103 "DownloadServices crashes after last download deleted"
After the last download has been deleted the `DownloadService` sometimes crashes with
[code]

[2015-07-14 13:53] xrigau commented on #102
this can be fixed by using `getDownloadsWithoutProgress` introduced here https://github.com/novoda/download-manager/pull/97

and getting rid of the usage of QueryTimestamp https://github.com/novoda/download-manager/blob/master/demo-extended/src/main/java/com/novoda/downloadmanager/demo/extended/delete/DeleteActivity.java#L38

[2015-07-14 13:55] xrigau commented on #77
Fixed in #97

[2015-07-14 13:55] #77 closed

[2015-07-16 09:18] amlcurran commented on #100
This also occurs when resuming or pausing a download as the DLM doesn't check if a download is complete before trying to start it again

[2015-07-16 09:19] amlcurran commented on #100
see batch-consistent-status branch for some more updates

[2015-07-16 09:28] friedger opened #110 "Notification labels can't be localized"
String like `cancel`, `download complete`, etc are hardcoded

[2015-07-16 10:50] friedger opened #113 "Discarding a the notification of a cancelled download adds a new notification"
Steps to reproduce:
1. start simple demo and download a file
2. use notification to cancel download
3. try to discard the notification for the cancelled download

See that the same notification is re-added.

[2015-07-16 10:59] friedger commented on #8
I disagree here, `Cursor` are the way to provide data in Android. What about `CursorList` or a marshaller to get some safety?

[2015-07-16 11:00] friedger commented on #113
duplicate #51

[2015-07-16 11:00] #113 closed

[2015-07-16 11:02] friedger commented on #51
Steps to reproduce:
1. start simple demo and download a file
1. use notification to cancel download
1. see notification
1. discard the notification for the cancelled download
1. start a second download
1. see that there are two notifications

[2015-07-16 13:22] amlcurran commented on #110
This is fixed then now @friedger ?

[2015-07-16 13:22] amlcurran commented on #8
They are, but I don't think they should be :smile:

[2015-07-16 13:29] friedger commented on #110
fixed by #112

[2015-07-16 13:29] #110 closed

[2015-07-16 13:30] friedger commented on #8
Let's meet at the couch!

[2015-07-16 13:36] amlcurran commented on #8
:+1: took me a few seconds to realise what you meant there :+1:

[2015-07-21 08:09] amlcurran opened #121 "Queuing no longer works"
1. Set-up two downloads
2. Pause the first download - *the second one starts downloading*
3. Resume the first download - *the first download goes to "Queued"*
4. Pause the second download

What should happen:
The first download should resume again

What does happen:
It says queued and no more downloads occur

[2015-07-21 08:21] xrigau commented on #121
the pain is real

[2015-07-21 08:24] amlcurran commented on #121
FUN TIMES only seems to happen in client app, might be because we're using batches

[2015-07-21 08:39] ataulm opened #123 "Add demo for tar updating feature"
#120

[2015-07-21 15:43] amlcurran commented on #121
#124 fixed it - did actually download but the UI and notification didn't update

[2015-07-21 15:43] #121 closed

[2015-07-24 13:48] zegnus opened #136 "Download Manager objects creation"
This issue gathers hot spots for object creation while downloading

**Notifications**

With notifications | Without notifications
--- | ---
<img width="1440" alt="screen shot 2015-07-24 at 15 47 45" src="https://cloud.githubusercontent.com/assets/2845931/8875698/5a0a1944-321b-11e5-8eca-efbed09d4d65.png"> | <img width="1440" alt="screen shot 2015-07-24 at 15 42 04" src="https://cloud.githubusercont

[2015-07-24 13:51] zegnus commented on #136
Gathering possible hot spots that has an impact on the application through benchmarking @charroch @ouchadam @amlcurran @blundell

[2015-07-24 13:53] ouchadam commented on #136
Download service, get all downloads, this should be pooled
On 24 Jul 2015 14:51, "Ferran Garriga" <notifications@github.com> wrote:

--
Disclaimer: The information in this e-mail and any attachments is the
property of Novoda Ltd and is confidential and may be legally privileged.
This e-mail is intended solely for the person or organisation to which it
is addressed. Any disclosure, copying or other

[2015-07-24 13:53] charroch commented on #136
should involve @ronocod as he is doing exactly the same.

[2015-07-26 10:00] ouchadam commented on #136
I would like to highlight the usage before and after our modifications, I feel like we've been unfairly judged
performance wise.

Clean install, downloading a 5mb file

Allocations

| Before | After
| --- | ---
![before-allocations](https://cloud.githubusercontent.com/assets/1848238/8893332/8b32d5be-3384-11e5-89c1-42ad548bfd29.png)|![after-allocations](https://cloud.githubusercontent.com/assets/18

[2015-07-27 09:47] xrigau commented on #136
have you tried running this on a DalvikVM based device too?

[2015-07-27 09:50] ouchadam commented on #136
Nope just art, nexus 5 5.1
On 27 Jul 2015 10:48, "Xavi Rigau" <notifications@github.com> wrote:

--
Disclaimer: The information in this e-mail and any attachments is the
property of Novoda Ltd and is confidential and may be legally privileged.
This e-mail is intended solely for the person or organisation to which it
is addressed. Any disclosure, copying or other use of the information by
any perso

[2015-07-27 09:52] blundell commented on #136
get a worse device for general day to day dev

[2015-07-27 09:55] xrigau commented on #136
I mentioned it because it seems like GC was changed in ART http://source.android.com/devices/tech/dalvik/#features

[2015-07-27 16:58] kaushikmukunda opened #142 "Clicking on notification after download complete crashes the demo-simple app"
1. Open the demo-simple app.
2. Download the podcast
3. Once the download is finished, click on the "Family of Penguins - Download Complete" notification.

I originally saw this in my app and wanted to check if the demo apps behaved any differently.

[code]

[2015-07-27 17:05] blundell commented on #90
lets supoort & keep this functionality

[2015-07-27 17:05] #90 closed

[2015-07-27 17:11] blundell commented on #142
Just looking on github

https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/DownloadManager.java#L473

https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/OpenHelper.java#L44

https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/Down

[2015-07-28 08:12] blundell commented on #142
hmm i just get a toast saying "cannot open file" (not ideal
Xperia Z1c android: 5.0.2

What are you running on?

[2015-07-28 17:40] kaushikmukunda commented on #142
I'm running Android 4.4.4 on Nexus 7.

[2015-08-01 17:39] hassan379 opened #143 "download notification removed then appeared when remove app from recent app list"
hi , thx for this great library , i am facing issue that every time when i try to download something , when press home button and remove the app from recent app list , the download in notification removed and reapeared ,in addition , the notification stuck at downloading state and not showing any update on progress bar
thx in advance

[2015-08-01 18:08] hassan379 opened #144 "downloadManager.pauseBatch(download.getBatchId()); not working when called in onDestroy"
hi , i am facing another issue , when i am trying to pause all downloads before closing the app , " downloadManager.pauseBatch(download.getBatchId());" not working in onDestroy methode , i mean it doesn't pause the downloads
please help
thx in advance

[2015-08-01 19:05] hassan379 opened #145 "app crashes when press on notification after complete"
hi , a new issue appeared to me , when i press on notification after download finish the app crash
hope to fix this soon
thx in advance

[2015-08-05 15:32] blundell commented on #143
Thanks @hassan379 we do have an upcoming load of work on the Notifications and we should be looking at all these errors

[2015-08-28 07:56] Folyd opened #151 "What unfortunate Authority class is!"
I totally don't understand why there need a `com.novoda.downloadmanager.Authority` class!

I think it time to do this for us! Look forward!Thanks very much.:)

[2015-08-28 08:00] Folyd commented on #151
This is the crash log if i not define a Authority class.

[code]

[2015-08-28 10:52] blundell commented on #151
![](http://www.reactiongifs.com/r/2013/07/stupid.gif)
___

It's needed because at the moment the architecture of downloading via this library means we need a static reference to the Authority in use. (the authority determines your database .. you don't want to share a database with someone else do you). It's static because it is needed in a BroadcastReceiver which is started and your application i

[2015-09-17 10:37] amlcurran opened #154 "Crash can occur when using addCompletedBatch method"
Following crash can occur when:
- You are adding a completed batch to the download manager using `DownloadManager#addCompletedBatch`
- That batch has a notification visibility of `NotificationVisibility.ACTIVE_OR_COMPLETE` or `NotificationVisibility.ONLY_WHEN_COMPLETE`

[code]

This occurs because the notification displayer requires a batch to have at least one item, but the batch must be created

[2015-10-14 14:49] xrigau opened #161 "Rename `ACTION`s in `Constants` to be more specific and meaningful"
Raised by @amlcurran in https://github.com/novoda/download-manager/pull/160/files#r41991443

The Action names are too generic at the moment, they should be more specific, and maybe they could be split in many or joined together (OPEN vs. LIST)

Actions are here: https://github.com/novoda/download-manager/blob/57f9aa/library/src/main/java/com/novoda/downloadmanager/lib/Constants.java#L42-L67

[2015-10-16 11:36] #142 closed

[2015-10-19 15:29] xrigau opened #166 "Notification customisers need to be able to customise everything"
In https://github.com/novoda/download-manager/blob/downloading-text/library/src/main/java/com/novoda/downloadmanager/notifications/NotificationDisplayer.java

The notification is still modified after using the customisers, meaning some views in the notification can't be modified, we should address this at some point, specially for large notifications (stacked).

[2015-10-19 15:30] amlcurran commented on #166
:+1:

[2015-10-20 15:08] blundell commented on #58
we've done a lot of this. Is the only one left multiple adapters?

[2015-10-20 15:13] xrigau commented on #145
seems like was fixed in #37

[2015-10-20 15:13] #145 closed

[2015-10-20 15:14] #51 closed

[2015-10-20 15:14] xrigau opened #168 "Remove the URI from the Intent used for the click events on Notifications"
https://github.com/novoda/download-manager/pull/167/files#diff-14235d3c65570f071b2574801705fc2aR128

That Uri seems like it isn't used anywhere so we should make sure it is not and then get rid of it.

[2015-10-20 17:06] xrigau commented on #11
Related #151

[2015-10-20 17:06] xrigau commented on #61
does this still happen?

[2015-10-20 17:07] xrigau commented on #64
Related #100

[2015-10-20 17:07] xrigau commented on #100
Related #64

[2015-10-20 17:10] xrigau commented on #102
I believe was fixed in #56

[2015-10-20 17:10] #102 closed

[2015-10-20 17:11] xrigau commented on #143
Fixed in #167 and #170

[2015-10-20 17:11] #143 closed

[2015-10-20 17:12] xrigau commented on #161
Fixed #170

[2015-10-20 17:13] xrigau commented on #168
Fixed in #170

[2015-10-20 17:26] #161 closed

[2015-10-20 17:31] #168 closed

[2015-12-07 15:20] Dorvaryn opened #179 "Failure to unlock stale downloads on Service startup"
When the service starts it tries to unlock stale downloads by fetching the current batches list using `getCurrentDownloadingOrSubmittedBatchIds`

There is a bad sqlite statement in this method that never returns anything. => https://github.com/novoda/download-manager/blob/cad0503fa8e4a5c857b1ac149b727528455f0800/library/src/main/java/com/novoda/downloadmanager/lib/DownloadsRepository.java#L207

[2015-12-14 16:26] Dorvaryn commented on #179
It's not a bnug, it's a Hack ! See 33a21cecf457a2cf2c232900ab19da4c9bdf7746

[2015-12-14 16:26] #179 closed

[2016-01-04 08:58] #151 closed

[2016-01-04 08:59] blundell commented on #64
@zegnus you worked on this recently?

[2016-01-04 11:41] zegnus commented on #64
Mmm not in this specific issue but I've working on the status of the items and on the batches. The underlying problem is that:
- Item downloading, batch status is downloading
- That item finishes (downloaded), no more items are downloading and there are some items queued. Batch status is queued
- Next queued item is added to the thread and starts downloading

The current implementation of the down

[2016-06-23 15:46] z-zghiba opened #187 "Notify the Activity when Download completed"
Notify the Activity when Download completed
Thanks

[2016-06-23 15:52] Dorvaryn commented on #187
Hi if you are asking on how to get the notification when the download finishes the simple demo [here](https://github.com/novoda/download-manager/blob/master/demo-simple/src/main/java/com/novoda/downloadmanager/demo/simple/MainActivity.java) should show it in action.

[2016-06-23 15:56] Dorvaryn commented on #187
If you have further issues, try and more detail to your issue. It is difficult to understand what the issue is with such a short message.

[2016-06-23 16:01] z-zghiba commented on #187
yes I saw the demo but what I want is to show automatically download status without clicking clicking on the main_refresh_button

[2016-06-23 16:07] Dorvaryn commented on #187
For a continuous update you need to use the contentResolver to look at the progress info. There is an example of that [here](https://github.com/novoda/download-manager/blob/master/demo-extended/src/main/java/com/novoda/downloadmanager/demo/extended/pause_resume/PauseResumeActivity.java)

[2016-06-23 16:24] z-zghiba commented on #187
Thanks.
 I 'll try that

[2016-06-24 06:41] z-zghiba commented on #187
Thanks @Dorvaryn it's work

[2016-06-24 09:49] z-zghiba opened #188 "COLUMN_TOTAL_SIZE_BYTES + COLUMN_BYTES_DOWNLOADED_SO_FAR"
Hello,
It's normaly that **COLUMN_BYTES_DOWNLOADED_SO_FAR** and **COLUMN_TOTAL_SIZE_BYTES**
changed only when download is complated and sometimes the COLUMN_TOTAL_SIZE_BYTES  stuck on -1??
This is my code to get the values :

[code]

[2016-06-24 10:24] rock3r commented on #188
I suppose it's happening because the content size is not known in advance. Is the [`content-length`](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.13) specified in the HTTP response headers if you do the `GET` manually? If it is, then there's a bug, but it seems to work for us.

[2016-06-24 12:35] z-zghiba commented on #188
Ok Thank you

[2016-06-24 12:37] z-zghiba opened #189 "License"
The DM is under what kind of License?
can I use it in enterprise projects?

[2016-06-24 12:58] rock3r commented on #189
See the [`LICENSE`](https://github.com/novoda/download-manager/blob/master/LICENSE.txt) file in the repo root

[2016-06-24 13:16] #187 closed

[2016-06-24 13:16] #189 closed

[2016-06-24 13:16] #188 closed

[2016-06-27 08:08] blundell commented on #189
so yes :-) feel free to use it under the apache license

[2016-07-16 19:53] alveru opened #190 "Still, there is WRITE Permission Error on internal folder, Please Help!!!"
Hello !

I have been struggling with this error for two days now,

I am getting the following error in my application when setting to use the internal app directory:

Exception: need WRITE_EXTERNAL_STORAGE permission to use DESTINATION_FILE_URI: uid 10134 does not have android.permission.WRITE_EXTERNAL_STORAGE

Why do I need this permission on Android Marshmallow if I am using the internal app dat

[2016-07-16 21:09] alveru commented on #190
e

[2016-07-16 21:09] #190 closed

[2016-08-01 01:44] duduBaiao commented on #190
Hi @alveru! Did you have success handling this situation?

I have the same error here.

[2016-08-01 04:48] duduBaiao opened #191 "Concurrent downloads"
Hi! I have a doubt about concurrent downloads.

It is required to use explicit batches to download more than one file simultaneously?

I'm calling "downloadManager.enqueue", but the files are being downloaded serially.

[2016-08-01 07:09] blundell commented on #191
Have you set this property in the manifest:

https://github.com/novoda/download-manager/blob/master/demo-extended/src/main/AndroidManifest.xml#L47-L49
[code]

I think it defaults to 1

[2016-08-01 07:11] blundell commented on #190
Looks like the library needs an update for Marshmallow, @zegnus @lgvalle do your use cases cover this?
Can it be reproduced in the demo app?

[2016-08-01 10:53] xrigau commented on #191
yeah @duduBaiao what @blundell said is the right thing to do - keep in mind that batches are a way to define multiple files as a unique download but doesn't have to do with concurrency, it just says 'instead of showing 3 files group them as 1 download (batch)'

[2016-08-01 19:33] duduBaiao commented on #190
@blundell it seems that the app checks for paths starting with "/data" to consider them as internal.

I think that we need an additional check for paths that are public, and don't require permission, like the path returned from this call:

Environment.getExternalStoragePublicDirectory(Environment.DIRECTORY_DOWNLOADS);

[2016-08-01 19:55] duduBaiao commented on #191
Yes @blundell. I did that, but without success.

The files are enqueued, but the download starts one by time. :(

Thanks for the clarification @xrigau!

[2016-08-02 07:15] blundell commented on #191
@duduBaiao can you reproduce your issue using the repo demo?

[2016-08-03 11:14] duduBaiao commented on #191
@blundell yes (more or less...). Since the simple demo downloads a single file, I have started a download, stopped the app, changed the url and started another download.

I could confirm the behavior: the second download started only after the first finishing.

[2016-08-03 13:08] blundell commented on #191
yes but that's because the simple demo uses the value of 1 for concurrent downloads, i was asking if you edit it to your usecase does it still work?

[2016-08-05 02:23] #191 closed

[2016-08-05 10:01] eduardb commented on #190
@duduBaiao Could you, please, add the snippet of code that is causing you problems? Thank you.

[2016-08-16 08:47] z-zghiba opened #195 "Question Download Start, Download finish and Downloading Byte/s"
There is a easy way to know Download Start, Download finish and Downloading Byte/s ?

[2016-08-16 08:56] blundell commented on #195
Take a look at the simple demo:

https://github.com/novoda/download-manager/blob/master/demo-simple/src/main/java/com/novoda/downloadmanager/demo/simple/MainActivity.java

This shows start and finish.

It queries the `DownloadManager` in the ASyncTask:

https://github.com/novoda/download-manager/blob/master/demo-simple/src/main/java/com/novoda/downloadmanager/demo/simple/QueryForDownloadsAsyncTask

[2016-08-16 08:56] #195 closed

[2016-08-16 09:15] z-zghiba commented on #195
I don't see how to detect the start download without going through the state PENDING

[2016-08-16 09:23] z-zghiba commented on #195
the idea is to detect the download time for each file

[2016-08-16 09:24] blundell commented on #195
realtime time detection or after the fact?

Because you know when a download ends with: https://github.com/novoda/download-manager/blob/master/library/src/main/java/com/novoda/downloadmanager/lib/DownloadManager.java#L179

[2016-08-16 09:30] z-zghiba commented on #195
This is  last time modification,  wath i search is to calculate downloading time (stopTime-startTime= downloadingTime) for each file

[2016-08-16 10:06] blundell commented on #195
if you look through the extended demo you can set up Broadcast receivers for download batches starting:

https://github.com/novoda/download-manager/blob/master/demo-extended/src/main/java/com/novoda/downloadmanager/demo/extended/DownloadBatchStartedReceiver.java

and finishing:

https://github.com/novoda/download-manager/blob/master/demo-extended/src/main/java/com/novoda/downloadmanager/demo/exten

[2016-08-25 08:15] z-zghiba opened #196 "Transfer status management"
I test the demo program included in the download library seem to indicate that there is an incomplete  transfer status management .

For versions higher than 5 it works and for version  lower than 5 (I only tested on 4.4 and 4.2) do not work

In fact, in the attached example we can see that the status is full so even that only a portion of the transfer has been completed.

![20160824_173111](https

[2016-08-26 12:24] z-zghiba opened #197 "Question : resume downloading of the failed file"
Is there a way to resume downloading of the failed file

[2016-09-02 09:13] kherembourg opened #198 "Add reason of failure (COLUMN_REASON) to the batch"
I'm using your download manager for my application and it works great.
I only have one issue where I cannot get the reason of an unsuccessful download.
I think this is due to the fact that I use a Batch download and so a Batch query to get the status.
It seems that the COLUMN_REASON doesn't work with Batch Request, only with a Request.
Is there a way to retrieve it with a batch request also ?
I pr

[2016-09-05 13:02] kherembourg commented on #198
Found another issue :
When making a download with a simple request (not a batch), we only receive a DownloadManager.ACTION_BATCH_COMPLETE action in the broadcast.
That's not great because I would have wanted my request download id (and not the batch id) but I can manage without it.
Except that the column EXTRA_DATA is always null even if when I provide one to my request. Meaning that the extra dat

[2016-10-13 08:26] z-zghiba opened #199 "Downloading in ranges"
There is a way to add range to may download manager.

[2016-10-14 09:40] jstefanowski opened #200 "Broken file marked as downloaded"
If Transfer-Encoding is set to "chunked" and connection is lost during download then status is changed to success.

[2016-11-23 14:38] Hackmodford opened #201 "Can't download to SD Card"
My app downloads audiobooks from a server. I have given the user the option to choose a preferred storage method. If the user chooses their SD card I would like to download files to their SD card instead of internal memory.

When I set the download path to the SD card using request.setDestinationUri. The download fails with an unknown error.

This is the path I am trying to use.
/storage/external_

[2016-11-25 15:18] Hackmodford commented on #201
I turned on verbos logging and got this result.

`11-25 10:11:28.647 W/EasyPermissions: hasPermissions: API version < M, returning true by default
11-25 10:11:30.544 V/DownloadManager: initiating download with UID 10014
11-25 10:11:30.584 V/DownloadManager: Service onCreate
11-25 10:11:30.585 I/DownloadManager: in removeSpuriousFiles
11-25 10:11:30.586 I/DownloadManager: in trimDatabase
11-25 10:1

[2016-11-25 15:37] Hackmodford commented on #201
It looks like the StorageManager.java isn't setup to check if the path matches all of the dir that getExternalDirs can return. I'm going to see if modifying the code will solve my problem.

[2016-11-25 15:45] ouchadam commented on #201
hey @Hackmodford thanks for reporting this! Could you give an example of how you're setting the path?

[2016-11-25 15:48] Hackmodford commented on #201
Sure! Long story short, I'm using this to get the path.

[code]

Then using setDestinationUri.

`setDestinationToPreferredStorageDir(request, (String) response.body().get("filename"));`

[code]

[2016-11-25 15:48] Hackmodford commented on #201
If I want to modify the code myself, can I import the project as a module? I'm willing to play with it, but I'm having difficulty getting it into a state I can mess with.

[2016-11-25 16:03] ouchadam commented on #201
thanks for that, maybe @Hutch4 can chip in as I know he's been looking into external storage paths recently.

You can definitely include this directly in your project by cloning the repo and linking the `library` module to your current gradle configuration `settings.gradle` and app dependencies `compile project(':library')`

[2016-11-25 17:14] Hackmodford commented on #201
My experiment worked. I can submit a pull request, but I'm afraid it might be kind of rough. Do you want me to just post my changes here instead?

[2016-11-30 14:06] Hackmodford commented on #201
I have created a new pull request to fix this. #204

[2016-12-05 15:25] xrigau commented on #201
💯 nicely documented, thanks for submitting the PR @Hackmodford 👍

[2016-12-09 17:10] Hackmodford commented on #201
Pull request merged.

[2016-12-09 17:10] #201 closed

[2017-01-09 14:31] Hackmodford opened #206 "Release with Pull Request #205"
Is it possible to get a release that contains Pull Request #205 ?

[2017-01-10 19:06] #206 closed

[2017-01-12 15:36] ouchadam opened #208 "Downloads always try to download to sdcard"
seems that the feature https://github.com/novoda/download-manager/pull/204 has introduced an issue where downloads always try and resolve to the sdcard

[2017-02-25 19:31] Hackmodford opened #209 "download fails if app removed from recent list"
I have setup my app to only allow 1 concurrent download.
If I start a download and wait for it to have progress, then remove the app from the recent list I get some strange behavior.

The notification gets removed a few seconds after doing this. Which to me looks like the download gets paused/stopped. Then the notification comes back like it is trying to resume the download, but it fails to resume

[2017-02-26 09:57] stefanhoth commented on #209
Thanks for using download manager. To your questions:

1. To my knowledge, removing an app from recents kills the process and with doing so the download in progress. So far I assume expected behaviour.

2. Usually download manager would be able to resume the download. If it can't the likely answer is that the server doesn't support resuming, either because it doesn't allow to jump ahead or because

[2017-02-26 11:05] ouchadam commented on #209
like @stefanhoth mentioned, the killing of the process also killing the download is expected. This library takes the stock shared system service `DownloadManager` and reimplements it as a app process (I believe the original intention was to allow access to the private app storage).

As for the resuming, are you able to pause/resume under normal conditions?

It's likely ending the process early put

[2017-02-27 08:48] tasomaniac commented on #209
If we use an Android `Service` with posting `Notification` using `startForeground();` method, the process shouldn't be killed when user swipes the app from Recents.

You can test it in music apps, when you swipe the app, the notification + music playback should continue.

We can potentially use the same mechanism to do that.

[2017-03-06 12:55] soheilghanbari1371 opened #210 "download completed notification"
hi advanced
i have problem which when a download is completed , every time that user enter the application some notifications shows in status bar which sya download completed,
how to fix it
thanks

[2017-03-06 13:19] blundell commented on #210
Can we see a code example to reproduce the problem? Please re-open when you have such an example

Thanks!

[2017-03-06 13:19] #210 closed

[2017-03-06 13:24] soheilghanbari1371 opened #211 "bug in notification of sample code"
hi i have downloaded example code
when i run extended-demo when a file download completely it shows a notification which say download completed

but

every time i open the sample app it show completed download for all downloaded file again

please guide me how to fix it
thanks

[2017-03-07 07:58] soheilghanbari1371 commented on #211
no body help me........???

[2017-04-05 09:57] ataulm opened #218 "Replace SQL setup onConflictReplace with onConflictAbort"
SQL setup allows onConflictReplace which can lead to unexpected state.

We should guard against conflicts in the first place so our db is never in an unexpected state.

Two tables:

- request
- download

It's already handled for file local URIs. It currently throws an `IllegalArgumentException` in two places:

- at the point of making the request - `DownloadRequest.Builder.withFile()` to make sure

[2017-04-05 10:08] ataulm opened #219 "Remove `download_identifier` from Download table"
The `download_identifier` column for a download isn't enforced to be unique by us - it's really just a metadata/tag for the clients.

We can get rid of it since it's a little misleading - clients would use the `download_id` which we do enforce as unique, and they can map this to whatever domain logic they want/need.

This decision was taken after debating whether to add the `file_identifier` back

[2017-04-05 10:11] ataulm opened #220 "Use correct sqlanalyser package name"
Use the correct/finalised package name for the generated output `DB.class` of the SqlAnalyzer.

https://github.com/novoda/download-manager/blob/v2/library/build.gradle#L46

library/build.gradle:

[code]

could change to:

[code]

[2017-04-05 10:17] ataulm opened #221 "Bubble up errors so clients know _why_ a download has failed"
- [CheckedWriter - IO exception](https://github.com/novoda/download-manager/blob/v2/library/src/main/java/com/novoda/downloadmanager/CheckedWriter.java#L29)
- [DownloadTaskSubmitter - denied starting download](https://github.com/novoda/download-manager/blob/v2/library/src/main/java/com/novoda/downloadmanager/DownloadTaskSubmitter.java#L72)

Should this be done with broadcasts, and continue to next

[2017-04-05 10:19] ataulm opened #222 "Broadcast current download speed to client"
- [TODO in NotifierWriter](https://github.com/novoda/download-manager/blob/v2/library/src/main/java/com/novoda/downloadmanager/NotifierWriter.java#L57)

[2017-04-05 10:23] ataulm opened #223 "Provide implementation for storage space verifier (needs more info)"
[Empty implementation is being used](https://github.com/novoda/download-manager/blob/v2/library/src/main/java/com/novoda/downloadmanager/FileDownloader.java#L75)

I thought this is writing a block of something to the disk to see we actually have enough space before we bother downloading, but it seems to "verify" the space just before it writes a chunk. @ouchadam can you give more info and edit thi

[2017-04-05 11:24] ataulm opened #224 "Allow clients to register downloads changed observer that returns only the changed downloads"
If we want clients to be responsible for handling local notifications, we need to send a list of changed downloads.

The client will register to receive updates whenever something changes in the downloads table.

DLM will send the list of changed downloads (which will just be 1 download since each change to the download table only affects one download).

This will allow the client to update the no

[2017-04-05 11:59] ouchadam commented on #223
[original impl](https://github.com/novoda/download-manager/blob/8133b2a3bf0b1c07065ff8cccaa2c97cbdae7fbb/library/src/main/java/com/novoda/downloadmanager/lib/StorageSpaceVerifier.java) which delegates to a modfied AOSP [storage manager](https://github.com/novoda/download-manager/blob/8133b2a3bf0b1c07065ff8cccaa2c97cbdae7fbb/library/src/main/java/com/novoda/downloadmanager/lib/StorageManager.java)

[2017-04-05 12:29] ouchadam commented on #224
providing deltas could get tricky, if a client misses an update, it would be gone forever. eg if the client doesn't register in time (somehow) and an update occurs changing a download from in progress to complete, the client wouldn't know about the completion state.
It might require us to enforce a registration pattern to ensure those types of scenarios can't happen.

There's a few changes needed,

[2017-04-05 12:32] ouchadam commented on #222
Perhaps we should be storing the current sample set as part of the download as it downloads. This way we can avoid talking between threads. The sample set is only valid as the download is in the `RUNNING` state.

[2017-04-05 12:33] ouchadam commented on #221
I think our threads should be returning results rather than broadcasting errors/success

[2017-04-05 12:35] ouchadam commented on #218
`SubmitRequest`  should throw or return an error result allowing the client to attempt to handle the error.

[2017-04-05 12:37] ataulm commented on #218
Yep, atm it throws IllegalArgumentException but we should use a better name and apply it for the other cases.

[2017-04-05 12:49] ataulm commented on #223
yeah this makes more sense to me - we'd be able to fail before download 99% of the file and then running out of space - but I wonder if I'm missing something that would have made that a preferable solution.

[2017-04-05 12:57] ataulm commented on #222
Makes sense to me :+1:

When the download is complete, should it show the average? Or just clear it. Or leave the latest?

Perhaps it would be another table so when a download is complete, we'd clear the record. Or would you try to avoid that, and always inc. the speed in the returned Download, even after complete?

How would we calc the value for the Download-speed, since some files could be supe

[2017-04-05 14:24] Hackmodford commented on #208
Does #205 and #207 fix this?

[2017-04-06 14:48] ataulm opened #225 "Provide demonstration of how notifications would work"
If we want to replicate the behavior of the current manager, how would we implement notifications?

We can add to the demo (or a separate demo) showing local notifications when a download starts, updates as the download progresses (the notification should show progress), and a "download complete" notification when the download is complete, where at most one notification is shown for a given downlo

[2017-04-06 14:53] ataulm opened #226 "Provide demonstration of the Global and per-Download Checks"
How do these work?

There's a TODO in the library that says to send a broadcast/otherwise notify the client that a download was rejected because a download check rejected it. Perhaps this is unnecessary since the client is the one providing the download check - part of that check could involve reacting to a download being rejected/not being rejected.

Then the checks could be simplified to a simpl

[2017-04-06 15:07] ataulm opened #227 "Remove the `postDelayed(5 minutes, update)` designed to revive the DownloadService"
`Delegate` has a method, `continueOrShutdown()`, which constitutes the main "update loop" of the DownloadManager.

If there are no more downloads to process, the service is told to shutdown. Otherwise, a runnable is posted to call `continueOrShutdown()` in 5 minutes, to revive the DownloadService in case of the system shutting it down.

Not sure this works because if the service is shutdown (`onDe

[2017-04-06 15:18] ataulm opened #228 "Check for duplicate localFileURIs before inserting Download to DB"
`DatabaseInteractions.java`

[code]

should be:

[code]

otherwise we'll have a download in the DB with no associated files, that we probably can't/won't get rid of.

[2017-04-06 15:21] ataulm opened #229 "DownloadService.Binder has distinct methods which need to be called together and in-order"
[code]

could be:

[code]

since `onBindComplete()` should not be called before the others are set. This will prevent possibility of those fields being null after we call `delegate.onServiceStart()` which expects them to be non-null.

[2017-06-14 01:30] Hackmodford commented on #209
Still does this in the latest version. I like @tasomaniac's service idea.

[2017-07-22 13:30] Xenolion commented on #228
Do you recommend me to use this library for my app or its buggy!! @ataulm

[2017-07-22 15:47] ataulm commented on #228
this is an issue for the V2 branch, which is not feature complete yet - do not use V2 in your app.

[2017-07-30 08:32] #228 closed

[2017-07-31 10:17] #220 closed

[2017-07-31 10:19] ataulm opened #235 "Determine whether how a service based approach would work, especially with regards to O"
- in the current v2, you can swipe away the app while it's downloading and it messes up entirely. It's necessary to clear all the downloads to get new ones to work again.

[2017-07-31 10:22] ataulm opened #236 "Is it possible to add DownloadCheck for in-progress downloads?"

[2017-08-18 08:27] wman1980 opened #242 "Download fails in release version with ERROR_UNKNOWN on few devices"
Hey,

I have a weird issue with downloading video files in release mode.

In release mode all download fail after a few seconds while all downloads in a debug version work as expected. Also this issue does not occur an all devices only a few.

Does anybody have a clue?

Regards

[2017-08-18 15:09] blundell commented on #242
It sounds like an issue with obfuscation, are you using proguard? Is something being fudged? Try making a live release that is not obfuscated to discount this as the issue

[2017-08-18 15:10] wman1980 commented on #242
hey thanks for your reply but I am not using any obfuscating.
in my grade file minifyEnabled is set to false.

[2017-08-21 07:25] blundell commented on #242
The code in this library is the same for a debug build as a release build. Does your package name change? (this has to be set in the `Authority` class, see [/README.MD](/README.MD))

[2017-08-21 12:21] wman1980 commented on #242
Hey, the Authority class is fine.

The only thing I discovered in "Charles - Webproxy" is that in release mode there is a failure that "the client closed connections before receiving the entire response".

[2017-08-21 12:25] blundell commented on #242
Can you reproduce the problem in a sample project? https://stackoverflow.com/help/mcve Then I can take a look

[2017-08-21 12:49] wman1980 commented on #242
I just figured out that you can also use the "simple example" provided by the library with that 200MB.zip uri. In debug it works and in release its not working. As I said its only on some devices.
Currently I am testing with a Moto G4 with Android 7.0.

[2017-08-21 13:43] ataulm commented on #242
@wman1980

what did you change to create a release build? Could you push your changes to a branch that we can checkout?

[2017-08-21 13:46] wman1980 commented on #242
@ataulm with that "simple-example" provided by this library I did not change anything. I just created a certificate to build a release version and installed on my Moto g4.

[2017-08-21 14:31] wman1980 commented on #242
It works with the normal DownloadManager from Android.

[2017-08-21 15:08] wman1980 commented on #242
I also updated the lib from 0.2.44 to 0.3.0. No changes.

[2017-08-21 15:40] joetimmins commented on #242
Hi @wman1980 thanks for the bug report. Have you seen this issue on any other devices / OS versions? Would it be possible for you to send us an apk that displays this issue?

[2017-08-21 15:54] wman1980 commented on #242
Hi @joetimmins,

I build two versions one using external file dir and the other one internal.

[beard download external](https://drive.google.com/open?id=0B_w2ut4VHLylV2lzaTlxblhnSGM)
[beard download internal](https://drive.google.com/open?id=0B_w2ut4VHLylamdLd01xUmtyVzA)

If you want I can also send you two screencasts.

regars,
jan

[2017-08-23 07:52] wman1980 commented on #242
any news on the issue?

[2017-08-23 09:06] blundell commented on #242
So from what I understand, it works when you download to the external (SD Card) but not to the internal memory. What capacity is your internal memory and how much free space do you have?

[2017-08-23 14:46] wman1980 commented on #242
@blundell does that really matter? I mean in debug mode it works. But anyway under settings->storage I have 6.64 GB of 10.82 GB of internal and 39.32 GB of 58.53 GB external storage used.

[2017-08-23 16:05] wman1980 commented on #242
btw: I tested netflix app and downloading a video works.

[2017-08-29 16:09] joetimmins commented on #242
@wman1980 Thanks again for providing the apks. We're continuing to look into this, but no luck yet. As soon as we know more we will update you.

[2017-08-29 17:38] wman1980 commented on #242
Thanks for investigating. No luck means you could not reproduce the problem?

[2017-09-09 16:06] Hackmodford commented on #209
Pull request #237 fixes this issue for me.

[2017-09-09 16:06] #209 closed

[2017-10-02 14:07] joetimmins opened #243 "Use split notils"
Notils has been split into android and java modules, but this project is still using an un-split old version.

[2017-10-23 10:23] cc-rock opened #244 "Targeting Android O: app crashes when a receiver is called and the app is not running"
When targeting Android O and running on an O device, if any broadcast receiver gets called when the app is not running (for example the INSTALL_REFERRER receiver), the users sees a crash.
We are currently forced to target api 25 just because of this bug.
The following exception is in the logcat:
[code]

[2017-10-23 14:18] tasomaniac commented on #244
Instead of using `context.startService`, we must use `ContextCompat.startForegroundService` method from support library.

[2017-10-23 15:02] Electryc commented on #244
I think this brings back what has been discussed here https://github.com/novoda/download-manager/pull/239

We need to decide on a strategy in order to enable apps to safely target O.

cc @joetimmins

[2017-10-31 09:30] cc-rock opened #246 "All notifications are cancelled when the service starts"
When the DownloadService is started (which means every time the app is launched) , all the app's notifications are cancelled, even the ones that have nothing to do with Download Manager.
I need to show a notification when the app is starting if certain conditions are met, and I have to put some workaround in place in order to create it after your service has started.
This is a wrong behaviour: Dow

[2017-11-14 13:21] Mecharyry opened #253 "Quick return warning"
## Problem
We have a few quick return statements in `v2` that can lead to silent failures, no notifications to dev or client application that the flow is incorrect.

## Solution
As a minimum we should surface a warning log when this happens, or if we want to be more aggressive throw an exception.

## Example
In `CallbackThrottleByTime` we have:

[code]

so if we don't call `setCallback` when we tr

[2017-11-15 20:46] Aiuspaktyn commented on #253
Same problem, on Android 5.1.1

[2017-11-16 11:19] ataulm opened #256 "DownloadFileId.from() static ctors are not consistent"
[code]

We should highlight that `DownloadField.from(Batch)` will likely generate a different ID, even if the client passes the same `Batch`.

This is distinct from the other `from` method, which will generate the same ID if the same string is passed each time.

The second one will **fail** in my understanding if a String that does not represent an integer is passed, but the first allows any param

[2017-11-16 11:53] ataulm opened #257 "Move LiteDownloadManager to another package"
LiteDownloadManager is meant to be the default instance of the download manager, if the client doesn't want to customise anything.

A lot of the methods in the library are package protected, so it's cheating if we keep LiteDownloadManager in the same package.

If we moved it to its own, we'd be able to identify whether it's possible to customise all the parts we want customised. Anything that need

[2017-11-16 14:15] zegnus commented on #256
The first method is meant to be use when a new id is created.

The second one is meant to be use to restore that previous id from the database, this is why they take different parameters.

We should definitely clarify this and also yup, we can change the database to hold an int 👍

[2017-11-16 14:17] zegnus commented on #257
Yup we could try to do that.

How's is done currently is that if you look at the visibility of all the classes in the project you will see public and non public.

All public ones are meant to be used one way or another by the client of the library, the non-public ones are not. Based on this, we could move things to packages if that doesn't mean to expose things that we should not.

Also, there is

[2017-11-16 14:19] zegnus commented on #253
Yes, this would be a `DeveloperError`

[2017-11-21 11:00] ataulm commented on #257
This comment will be updated with instances where a class prefixed with `Lite` uses classes or methods that are meant to be internal to the library.

---

LiteDownloadService uses `downloadBatch.status()` which returns `InternalDownloadBatchStatus`

[2017-12-12 14:53] Mecharyry opened #270 "VersionOneToVersionTwoMigrator deleteFrom"
### Problem
`VersionOneToVersionTwoMigrator` does not take into account the `boolean` result from `File.delete()`.

### Solution
Ensure that when deleting files that we pay attention to the `boolean` result from `File.delete` and act accordingly.

[2018-01-03 12:57] Mecharyry opened #284 "FindBugs relating to synchronised blocks"
### Problem
FindBugs threw up a few issues with the synchronised blocks in version 2 of the `download-manager`.
![screen shot 2018-01-03 at 12 55 45](https://user-images.githubusercontent.com/3380092/34521423-95246be4-f085-11e7-9ff0-3b34418312ad.png)

## Solution
Investigate ways to remove these warnings and then remove the suppression.

[2018-01-05 10:16] Mecharyry opened #286 "Collaborators for Demo activity"
## Problem
We are receiving warnings for complexity on the demos `MainActivity`.

## Solution
Extract some collaborators and generally make the Activity easier to understand by clients.

[2018-01-05 11:06] Mecharyry opened #287 "DownloadManager handler"
## Problem
The `DownloadManager` class does not use a handler to post back to the `main thread` when performing any action 😬

## Solution
Pass the `callbackHandler` from the `DownloadManagerBuilder` to the `DownloadManager` and ensure that all callbacks go through this `Handler`.

[2018-01-08 09:36] MechaRyRy commented on #287
💥 addressed.

[2018-01-08 09:36] #287 closed

[2018-01-09 14:45] #257 closed

[2018-01-09 15:55] MechaRyRy opened #295 "Release process wiki"
We should create a wiki page showing the process of performing a release similar to how it is shown on `novoda/novoda` -> https://github.com/novoda/novoda/wiki/Version-Release-Template

[2018-01-12 14:52] MechaRyRy opened #300 "Delete status updates not occurring"
## Steps to reproduce
- Download an asset using the download manager sample app.
- Once complete press the delete all button
**Expected:** Statuses show as deleted **Actual:** Statuses show as deleted 💯

- Download an asset using the download manager sample app.
- Once complete swipe away the app from recents killing the service etc.
- Restart the app, you should see the last status of download co

[2018-01-15 15:48] MechaRyRy opened #304 "Remove or persist notification on delete"
## Problem
#302 introduced a custom notification for deleted assets BUT what if the client applications do not want to show notifications when an item is deleted 😬  We should provide this as part of the notification customisation.

## Solution
Allow clients to switch between creating notifications and removing them for deleted items. We could expose the notification system we have, to stack or not

[2018-01-15 16:42] #300 closed, assigned to zegnus

[2018-01-15 16:45] MechaRyRy opened #305 "Use int for Identifiers"
## Problem

In #303 `hashcode` is used as the identifier for the notification id. Calculating a hash on the `main-thread` for large objects is not very performant, especially when we know this value will remain constant.

## Solution
Use `int` for our ids in the library so that we can easily pass it to the notification manager rather than performing a heavy task on the `main-thread` to create an i

[2018-01-19 11:47] MechaRyRy opened #307 "Use resources for defining strings"
### Problem
We are hardcoding strings for notifications when we should ideally be using string resources that can be localised.

### Solution
Use string resources.

[2018-01-29 09:48] MechaRyRy opened #313 "Duplicate files across batches"
### Problem
At the moment it is possible for batches to contain the same files but they only appear as a single file in the storage. So if you delete one batch that contains this file and another batch contains it then you won't be able to access this file 😬

### Solution
We should allow files to exists across batches. Easiest solution would be to create a directory per batch.

[2018-01-29 17:12] MechaRyRy commented on #307
This needs double checking

[2018-01-29 17:13] MechaRyRy commented on #256
This no longer exists.

[2018-01-29 17:13] #256 closed

[2018-01-29 18:56] ataulm commented on #256
Woo

[2018-01-30 07:28] tasomaniac commented on #305
Any reason for closing? Not that important?

[2018-01-30 09:03] MechaRyRy commented on #305
Ah actually I closed this one by accident, this is still an issue 😢

[2018-02-01 09:19] tasomaniac opened #319 "Allow users to provide custom `NotificationChannel`"
Right now, the `v2` of the library creates the `NotificationChannel` automatically for Oreo users with bare minimum functionality.

This takes away the flexibility because `NotificationChannel` class has many other properties and it is impossible for user to configure them.

Suggested fix:
Create an overloaded constructor in `NotificationCreator` with `@RequiresApi(O)` to take the whole `Notificat

[2018-02-01 14:54] tasomaniac opened #323 "WRITE_EXTERNAL_STORAGE permission."
Before the following commit, the library was requesting `WRITE_EXTERNAL_STORAGE` only for devices before Kitkat.

https://github.com/novoda/download-manager/commit/7b83794d550a88ae5be0a5a6425283865c291dde#diff-368cd1a16b7e017d463036e718bdce4dR6

Apps has a special folder in external storage that they can access without permission after Kitkat. This permission is usually added with `maxSdkVersion=1

[2018-02-01 16:35] #323 closed, assigned to nobody

[2018-02-01 16:36] #307 closed, assigned to nobody

[2018-02-13 15:46] tasomaniac commented on #227
Is this still valid? I cannot find the mentioned methods anymore.

[2018-02-13 16:55] #319 closed, assigned to nobody

[2018-02-16 09:09] danybony commented on #270
I was having a look at this, and I wondered: what can we do in case of false result for delete?
If the path was wrong from the beginning, there's not much we can do in any case.
Also, we are doing this for partial downloads only.
Just wondering if this issue is still valid

[2018-02-23 14:01] danybony commented on #313
This was implemented in https://github.com/novoda/download-manager/pull/334

[2018-02-23 14:01] #313 closed, assigned to nobody

[2018-02-23 14:03] danybony opened #347 "Submit all stored downloads after migration completed"
At the moment this is done client-side (see https://github.com/novoda/download-manager/pull/346).
We should implement this in the library, so that the client doesn't need to worry about this, having the migrated downloads immediately available

[2018-02-23 15:40] MechaRyRy opened #350 "Migration FileId"
## Problem
Currently the `FileId` for migrations is from the `notificationExtras` from `Downloads` in v1. Likewise, the `BatchId` is generated from a hash of this value from the first `DownloadFile`.

## Solution
Allow clients to specify mappings from the `v1` db to the `v2` db.

## Benefits
Greater flexibility. We are currently relying on `notificationextras` from the `Downloads` table to drive t

[2018-02-27 13:37] ataulm opened #352 "Add proguard configuration"
should DLM provide a proguard configuration to keep required files? I know it's possible but I can't remember if it's recommended or not (from the community, having tried it).

e.g. for
`-keep class * extends android.arch.persistence.room.RoomDatabase`

[2018-03-24 00:20] aclassen opened #377 "Creating instance using Kotlin: Type DownloadManager! is inaccessible in this context"
Creating an instance of `LiteDownloadManagerCommands` in Kotlin shows the following IDE warning:

The code compiles without any problems and runs fine.
Bytecode is also ok:
[code]
But decompiled Bytecode is showing uncompilable code (but that`s up to the decompiler):
[code]

Long story short , maybe `build()` can return `LiteDownloadManagerCommands` instead of `DownloadManager` ?

[2018-03-26 08:46] MechaRyRy commented on #377
Hi @aclassen I assume you have been building this locally to test 😄 I hadn't noticed we weren't coding against the interface for that builder, I will update it today.

[2018-03-27 15:30] MechaRyRy opened #379 "Technical Data Questionnaire Wiki Page"
## Problem
We want to show our reasoning as to why someone would want to use this particular library and the challenges we have faced with each release. To this end, we have created a **Technical Data Questionnaire**. This Questionnaire is cloned from [`novoda/novoda`](https://github.com/novoda/novoda/issues/46).

## Solution
Here's a template, created from the Gradle Build Properties Plugin, that

[2018-03-29 08:19] MechaRyRy commented on #379
Taking another route.

[2018-03-29 08:19] #379 closed, assigned to nobody

[2018-03-29 13:27] aclassen opened #380 "Possible race condition in `ThenPerform`"
There 's a possible race condition between `waitForLock` in `ThenPerform` and `DownloadManager` `waitForDownloadService.notifyAll();`

If an instance of  `ThenPerform` is created with a `null` DownloadService and `notifyAll` is called before `waitForLock` is called.

In case the Single Thread Executor is used like : `executor.submit(() -> Wait.<Void>waitFor(downloadService, waitForDownloadService)

[2018-03-29 14:26] MechaRyRy commented on #377
@aclassen are you happy to close this issue now?

[2018-03-29 17:27] #377 closed, assigned to nobody

[2018-04-01 17:52] potny opened #382 "java.lang.IllegalStateException com.novoda.downloadmanager.lib.DownloadProvider.onCreate"
[code]
Affected to Android 8.0 and Android 8.1

[2018-04-06 14:36] lwasylkowski commented on #244
@joetimmins @Electryc Sorry for pinging, but are there any plans to support Android O? Developer preview for Android P is out already, and it's a shame we still have to target API <=25.

Maybe you have a rough idea of how would support for O have to be implemented, for potential outside contributors?

[2018-04-20 14:29] zegnus commented on #352
Yes, we should provide it 👍

[2018-04-20 14:58] zegnus commented on #380
Hey @aclassen thank you for your feedback. Looking at the code I found this race condition highly unlikely.

For a deadlock to happen something like this must happen:
1. `DownloadManager.getAllDownloadBatchStatuses()` null instance, `waitForLock` is about to be executed
2. `DownloadManager.initialise()` is called, `notifyAll` that's on a `synchronized` block is about to be called

Only if the `wai

[2018-05-02 18:59] aclassen commented on #380
Sorry, for late feedback.
Yes i was able to reproduce the issue.
Will try to reproduce with sample app and provide more info.

[2018-06-19 20:36] Hackmodford opened #401 "What is the status of version 2?"
Is version 2 ready for an app in the store? Or should I still stick with version 1?

Is it difficult to migrate to version 2? And how does one do this? Which branch should I use?

The library is awesome, I'm just getting worried about having to use API <= 25 since google seems like they're not going to allow it in the future.

[2018-06-20 08:19] MechaRyRy commented on #401
Hi @Hackmodford version two is still in development. We are currently working on the `Migration` process, once that is finished we will be releasing a stable version 2. I personally would like to see a stable version released by the end of this month. I will try and keep you updated, we understand that we need to get this finished so that others can support the more recent versions of android.

[2018-06-20 14:12] MechaRyRy opened #405 "CallbackThrottleByProgressIncrease stop"
## Problem
`CallbackThrottleByProgressIncrease.stopUpdates` does not actually stop updates 😬

## Solution

Remove the callback or add a flag to prevent the callbacks from continuing when calling `stopUpdates`.

[2018-06-20 14:29] MechaRyRy opened #406 "LiteDownloads(Batch/File)Persisted factory"
## Problem
`LiteDownloadsBatchPersisted` is created inside `DownloadsBatchPersistence` but it is based off of a `public` interface. Is the intention for this to be defined by clients? If so we should probably provide a factory that can be defined by clients. The same is true for File variation too.

## Solution
Define an interface for a factory that can be created by clients to produce instances o

[2018-07-04 17:21] MechaRyRy commented on #401
Hi @Hackmodford, sorry we weren't able to deliver version 2 by the end of June. We've been trying to improve the file persistence layer and improve how we handle SD cards and the migration. If all goes well we should be releasing v2 within the next couple of weeks. Sorry again.

[2018-07-04 17:22] Hackmodford commented on #401
No problem. It's an awesome library and I wish I had the skills to help 😀

I appreciate that you got back to me!

—
Brandon Butler (Hackmodford)

[2018-09-13 10:26] MechaRyRy commented on #401
@Hackmodford I'm pleased to announce that version 2 of the `download-manager` has been released.

[2018-09-13 11:46] joelfernandes19 commented on #401
@Mecharyry Is there a migration guide available? (Migrating from 0.3.0 to 2.0.0)

[2018-09-13 12:10] MechaRyRy commented on #401
Hi @joelfernandes19 there isn't currently. I'm going to try and write one over the next few days. I would suggest taking a look at the [MigrationJob](https://github.com/novoda/download-manager/blob/release/demo-simple/src/main/java/com/novoda/downloadmanager/demo/migration/MigrationJob.java) in the meantime.

[2018-09-13 16:09] Hackmodford commented on #401
So besides the migration job, are there any big changes in the API we should be aware of?

[2018-09-13 16:38] zegnus commented on #401
@Hackmodford Is a completely new API, way easier to integrate with that in the version one. We started from zero and so the design is completely different.

We'll provide a README and an extensive demo app with examples of how to use it all. You'll be able to go as simple as you want using default implementations provided for you by the library, or as complex as you need you providing custom imple

[2018-09-14 06:32] joelfernandes19 commented on #401
@Mecharyry @zegnus I understand that v2 has been built from scratch, and believe it's in its early stages, but I was wondering if you guys are planning to make the lib backward compatible? I've been using version 0.3.0 in one of my production apps, and integrating v2 breaks the entire app altogether.

For example, in the previous release version, there was "COLUMN_EXTRA_DATA", which doesn't exist

[2018-09-14 08:19] MechaRyRy commented on #401
The library is not designed to be backwards compatible, it should be fairly straight forward to migrate from one version to the other. Until we have completed the documentation for migration I would again suggest you take a look at the `MigrationJob` and the [`Extractors`](https://github.com/novoda/download-manager/blob/release/demo-simple/src/main/java/com/novoda/downloadmanager/demo/migration/Co

[2018-09-19 08:17] #6 closed

[2018-09-19 08:17] #8 closed

[2018-09-19 08:17] #11 closed

[2018-09-19 08:17] #12 closed

[2018-09-19 08:17] #38 closed

[2018-09-19 08:17] #58 closed

[2018-09-19 08:17] #61 closed

[2018-09-19 08:23] MechaRyRy commented on #270
Migration is now done by the client of the library.

[2018-09-19 08:24] MechaRyRy commented on #284
Still needs to be fixed. Not sure we need wait in a loop, we are doing a simple object lock.

[2018-09-19 08:26] MechaRyRy commented on #286
Activity has been broken down into a `Migration` and `Main` activity. We could do more work but not worth having a ticket anymore as we have addressed the main issue.

[2018-09-19 08:28] MechaRyRy commented on #304
Several PRs were used to address this issue e.g. https://github.com/novoda/download-manager/pull/337

As of v2, the client can specify the type of notification they want to display. Notifications can be persistent, dismissible (stackable) and hidden.

[2018-09-19 08:28] #304 closed, assigned to nobody

[2018-09-19 08:30] MechaRyRy commented on #305
I think this is redundant now. We have an adequate workaround, which is to use the `DownloadBatchStatus.id` as the notification id. https://github.com/novoda/download-manager/blob/release/library/src/main/java/com/novoda/downloadmanager/DownloadBatchStatusNotificationCreator.java

[2018-09-19 08:30] #305 closed, assigned to nobody

[2018-09-19 08:30] MechaRyRy commented on #347
Clients should handle all aspects of the download migration now, as of v2.

[2018-09-19 08:30] #347 closed, assigned to nobody

[2018-09-19 08:31] MechaRyRy commented on #352
We have a custom configuration https://github.com/novoda/download-manager/blob/release/library/proguard-rules.pro

[2018-09-19 08:31] #352 closed, assigned to nobody

[2018-09-19 08:32] MechaRyRy commented on #380
@aclassen Have you been able to reproduce this issue with the sample app? We'd like to try and resolve this issue as soon as possible if it is still present.

[2018-09-19 08:34] MechaRyRy commented on #382
Hi @potny sorry for the delay responding to you, we've been busy working on `v2`. I'm assuming this is a `v1` issue? Have you tried the latest version?

[2018-09-19 08:34] MechaRyRy commented on #401
`v2` has been released, closing.

[2018-09-19 08:34] #401 closed, assigned to nobody

[2018-09-19 08:37] MechaRyRy commented on #405
This needs retesting.

[2018-09-19 08:40] MechaRyRy commented on #406
This issue was created somewhat hastily, I can see that this `DownloadsBatchPersisted` can be used for a custom persistence layer.

[2018-09-19 08:40] #406 closed, assigned to nobody

[2018-09-19 08:40] zegnus commented on #284
This might be a false positive and FindBug is not finding out that there is indeed a conditional wait:

[code]

[2018-09-19 08:46] MechaRyRy commented on #284
Perhaps it's worth me inlining it and checking findbugs. We could verify the false positive, keeping it in the readable format if it is indeed a false positive.

[2018-09-20 20:52] aclassen commented on #380
I'll update to latest version next days and try to replicate , if that`s ok for you?

[2018-09-21 08:06] MechaRyRy commented on #380
That would be great @aclassen. There's also a PR currently open for the `Wait.Then` that we will try and release this week.

[2018-09-22 20:22] Hackmodford opened #434 "Is the BroadcastReceiver gone?"
In version 2, how do I get notified that a download completed? When a download completes, my app needs to do some processing of the files. In the previous version, this was done via a broadcast receiver. Is there a way to do this in v2?

[2018-09-23 09:12] rock3r commented on #434
Not an expert on DM2, but for what I understood all the broadcasts have been replaced with callbacks. See https://blog.novoda.com/download-manager-v2/

[2018-09-23 14:12] Hackmodford commented on #434
Thanks for pointing out the article! I got that they're using callbacks and I really like that, but what will reactivate the app when it’s finished? Do I need to wrap the callbacks in a service or something?

[2018-09-24 08:41] MechaRyRy commented on #434
Hi @Hackmodford 😄 We have indeed dropped support for the `Broadcast Receiver`, as @rock3r says you'll need to use the `callbacks`. The `download-manager` uses a foreground service to download and deliver notifications and is tied to your application. So when it is downloading / notifying your application will be kept alive. If you are doing any file processing as a result of a notification you may

[2018-09-24 17:46] Hackmodford commented on #434
@Mecharyry What about if someone closes the app (by swiping up)? What happens to a completed download in that scenario? I would assume the callback never gets called because the app is no longer in memory, right?

[2018-09-24 17:53] rock3r commented on #434
If you have a foreground service, swiping the app from the recents won't force close it, and won't interrupt the service, in theory.

[2018-09-24 17:58] Hackmodford commented on #434
Okay. So far I'm liking the changes, it seems much cleaner this time around. The other question I had is about instantiation of the downloadManager.

[code]

If my downloads are typically 500MB - 2GB, do I need to request 2GB of storage space? I'm not sure what this is doing.

Also, is the authority from v1 still required?

[2018-09-25 07:42] zegnus commented on #434
Hi @Hackmodford glad you like the new version.

For the space, nope. That's the space that you want free in your phone after a download has finished. This is for preventing to fill up your entire storage with the side effects of collapsing your phone and crashing. You can leave around 100MB, this seems to work fine.

The `authority` is no longer required ;)

[2018-09-26 13:38] matecode opened #436 "Is it possible to set Headers?"
Maybe I'm just missing it, but is it possible to set headers like basic auth?

[2018-09-26 13:41] MechaRyRy commented on #436
Hi @matecode it is currently not possible to set custom headers. Is this something you would find helpful? If so, could you open a more complete issue following this format and we will try to plan it into our roadmap.

[code]

[2018-09-26 13:42] MechaRyRy commented on #434
I've added this to our wiki. We should provide a migration from v1 to v2 ASAP to answer these sorts of questions. Closing.

[2018-09-26 13:42] #434 closed, assigned to nobody

[2018-09-26 14:01] matecode opened #437 "open API for own OkHttpClient"
#### Problem

setting own headers, using other okhttp interception possibilities is not possible at the moment because the NetworkFileDownloader Implementation is absolutely closed

#### Potential Solution

give an API  to set own HttpClientFactory implementation or something similar

#### Impact

many developers are already familiar with okhttp api, so its an easy access to all network related th

[2018-09-26 16:24] MechaRyRy commented on #436
Thanks for opening that issue @matecode, I'll have a chat with the other contributors on the library and see if we can get a plan of action in place.

See #437

[2018-09-26 16:24] #436 closed, assigned to nobody

[2018-09-27 09:44] zegnus commented on #437
👍 could have a look, yeah

[2018-10-01 10:21] maboueita opened #438 "Removal of downloads in v2"
looking into v2's api I couldn't find a certain answer to this yet, is there a way to delete downloads using a different mechanism that's not using the batch id?

(Our use-case would include needing to delete files that were only a subset of a single batch, so we'd want to later delete the files using their unique identifiers and not the whole batch or other files in it).

[2018-10-01 11:12] zegnus commented on #438
Hi @maboueita currently this is not supported by the library. Currently, the idea of a `batch` is a unit of files that only makes sense when all of them exists at the same time. For example a video + contract + trailer. If you delete the contract file then that batch should be invalid.

Maybe you are treating a batch as a bundle? You could create a batch per file for now. Would that solve your iss

[2018-10-01 11:42] maboueita commented on #438
Hi @zegnus, a batch per file might work, however, considering our use-case would be mainly downloading "a playlist" consisting of potentially 100s of songs, I was thinking:

a) would be there a footprint penalty if we create such a high number of batches almost simultaneously or within very little time difference?

b) we would want to visually treat the playlist as one element (i.e: show a single

[2018-10-01 13:26] zegnus commented on #438
hi @maboueita
a) No problem with performance if you create those batches, you can do a test and get back to us if you find any performance issue
b) Sure no problem with that, how you handle UI is not coupled with the info provided by the download manager. You just need to query all the download batches, or listen to it with a callback and then treat a batch as if it were a file and you're good to

[2018-10-02 12:59] maboueita commented on #438
Thanks @zegnus! Will proceed then with the batch per track approach and get back to you if I feel I have any feedback that might be useful.

[2018-10-02 12:59] #438 closed, assigned to nobody

[2018-10-02 15:11] Hackmodford opened #439 "Customizing Notifications"
I'm having trouble customizing the notifications. Looking at the source code, I thought I would have to create my own NotificationCreator that implements the NotificationCreator interface. However, the interface is package private so I am unable to do so.

My goal is to have the library only provide notifications for download progress. I have my own backend that handles download completion and fai

[2018-10-02 16:12] MechaRyRy commented on #439
Hi @Hackmodford sorry to hear you are having issues with customising notifications. You are indeed correct that you should use the `.withNotification()` method.

As for `AndroidX` unfortunately our hands our tied at the moment because the migration to `AndroidX` relies on `com.android.tools.build:gradle:3.2.0` which requires a wrapper update but our release plugin is unfortunately not up to date w

[2018-10-03 00:01] Hackmodford commented on #439
Okay, I moved away from AndroidX. But I'm still unclear how to handle the notifications. Can I return null for CustomNotification?

[2018-10-03 08:19] MechaRyRy commented on #439
Hi @Hackmodford you cannot return `null`. As a general rule the only places you can safely return `null` have been highlighted with the `@Nullable` annotation. For the `customNotificationFrom` method you need to create a `Notification` using the `NotificationCompat.Builder` which is supplied as a param on the method.

Here is the version that is used by default in the library, perhaps this will he

[2018-10-03 15:18] Hackmodford commented on #439
That's what I needed. I did this and it's working perfectly now :)

[code]

[2018-10-03 15:18] #439 closed, assigned to nobody

[2018-10-03 23:31] Hackmodford opened #442 "Stuck waiting for network"
Everything was working fine in an emulator, but once I installed on a device my downloads get stuck with the status "Waiting for Network". I have changed the ConnectionType to All with the same result.

Any suggestions for what might be wrong?

[2018-10-03 23:32] Hackmodford commented on #442
I'm guessing that previous batches keep their connection type setting? Because I started a different batch and it is working now.

[2018-10-04 08:27] MechaRyRy commented on #442
Hi @Hackmodford,

I assume you used `DownloadManager.updateAllowedConnectionType(ConnectionType allowedConnectionType);`?

I didn't work on this particular part of the library but I assumed that this would be per instance of the `download-manager` so if you update it should propagate to all existing downloads. Is this not the case @danybony @zegnus ?

[2018-10-04 13:29] Hackmodford commented on #442
I am using only one instance of a download manager.

First, I noticed a crash when restarting my app. Something about initializing wasn’t working. Using “withoutNetworkPersistence” fixed this problem.

However, now when I try to download something, it seems like if it gets interrupted along the way it never continues. Some batches get stuck waiting for network.

I can provide more details once I g

[2018-10-04 15:22] MechaRyRy commented on #442
`withoutNetworkPersistence`? Do you mean `withoutNetworkRecovery`?

If you could provide us with some reproducible steps along with an expected and actual outcome we can take a look at this for you. The more detail the better really 😄

[2018-10-04 15:54] MechaRyRy commented on #442
I think there's generally an issue with the network recovery. Using the `demo` application if I start downloading assets and spam the `download only over WiFi` button then I see some strange behaviour. I can delete downloads and they will re-queue regardless.

[2018-10-04 16:01] Hackmodford commented on #442
Sorry, yes I meant without `withoutNetworkRecovery`. When I originally did not have that, the app would crash the second time I launched. I just realized I never tested this change on the simulator, I am going to see if I can reproduce the issues there.

[2018-10-04 16:06] Hackmodford commented on #442
Okay, I'm getting similar behavior on the simulator. I'm guessing that if I use `withoutNetworkRecovery` if the download gets interrupted somehow, it doesn't automatically resume?

I'm going to see if I can get the previous crash to happen on the simulator. If not, I can get you the exact error and line later today via my test device.

[2018-10-04 23:39] Hackmodford commented on #442
I think I have this repeatable.

1) Start a download
2) Press the Stop button to kill the app (via android studio)
3) Restart app

Result: The download batch is stuck in the status "waiting for network"

[2018-10-05 07:37] MechaRyRy commented on #442
Hi @Hackmodford, I've been trying to reproduce with the above steps. Did you enable "Download only over wifi" or anything similar?

If you could attempt to reproduce any issue you are seeing with the demo that would be really handy, just to ensure there isn't something happening unique to your configuration.

[2018-10-05 07:46] zegnus commented on #442
@Hackmodford

This is correct.

Can you reproduce this with the demo application? If yes, can you please provide the log of the crash? We will investigate from there.

Your feedback is being really useful, thank you very much

[2018-10-06 15:16] Hackmodford commented on #442
First thing I have noticed: If I stop the demo application, downloads continue. If I stop my application, downloads stop.

[2018-10-06 15:20] Hackmodford commented on #442
If I stop the demo app, the downloads continue. If I stop my app, the downloads stop.

[2018-10-08 09:25] zegnus commented on #442
Hi @Hackmodford this is very weird, your app should behave exactly the same as in the demo application, the demo doesn't have any special permissions or shortcuts to the download manager...

Are you providing any custom implementations? Try to get back to basics and try a very simple download sample using all defaults in the download manager builder.

[2018-10-08 14:40] Hackmodford commented on #442
I added a Log Handle to my app's download manager and got some error messages that might be helpful.

First, when I started my download, this is what I got:
[code]

I then stopped the app which makes the download stop (there are no notifications of a download)

When I restarted the app, I got this:

[code]

Does that provide any clues?

[2018-10-09 04:05] Hackmodford commented on #442
I will be asking the team that develops the API I am using to see if there's any clues they can provide. It seems like when the library is trying to resume the download, the API returns HTTP Code 416.

Side question, should the library be in a loop in this scenario? It should eventually stop trying, right?

[2018-10-09 15:57] Hackmodford commented on #442
I just tried downloading my file via the demo application. When I do this I get the same result as my application.

[2018-10-09 16:02] Hackmodford commented on #442
I just tested downloading with a range request using [Insomnia](https://insomnia.rest). The partial download worked correctly, this leads me to believe there is a bug in the download manager.

[2018-10-09 16:52] Hackmodford commented on #442
~~Using the demo application, pausing and resuming works fine. It seems like it's just if I kill the app and start it up again that I get the 416 error.~~
I just tried it again and I get the same behavior as killing the app.

[2018-10-10 13:30] MechaRyRy commented on #442
@Hackmodford sorry can I just clarify that you've run the vanilla demo, without touching any of the code and you are seeing this issue? You are running this on an emulator or a specific device?

[2018-10-10 18:30] Hackmodford commented on #442
@Mecharyry Correct. I am using the vanilla demo, and have only changed the file that it downloads. If I pause the download and try to resume, I get the 416 error. I will provide a url you can use for testing this later.

Unfortunately I wasn’t able to get any useful information from the server logs.

[2018-10-11 01:57] Hackmodford commented on #442
Here is a url that can be used for testing.

https://www.bigfinish.com/api/downloadab/895/get/?token=aa149703e92f683dc779da021d57b148266567a3

[2018-10-11 08:35] MechaRyRy commented on #442
Thanks for providing that @Hackmodford, I'll try and take a look at this as soon as I am able.

[2018-10-14 22:26] omarsahl opened #443 "Unexpected download path"
I used this code to create a `Batch` to download 2 files.

[code]
The `root` is `/storage/emulated/0/Downloader/`
I expected the path for the `video` file to be `/storage/emulated/0/Downloader/tbm/videoname.mp4` but it was `/storage/emulated/0/Downloader/batch_id_1/tbm/videoname.mp4`
and for the `audio` file I expected it to be `/storage/emulated/0/Downloader/tbm/audioname.m4a` but it was `/storag

[2018-10-15 00:32] omarsahl opened #444 "Exception in persistSync"
I get this message when trying to download a batch with two files
`[[pool-2-thread-1][(DownloadsFilePersistence.java:41).persistSync] , failure to persist sync file video with status QUEUED]`

After debugging I found out that it's a SQLite exception
[code]
Any help would be appreciated. Thanks.

[2018-10-15 08:32] MechaRyRy commented on #443
Hi @omar753sahl I'm afraid you need the `batch id` when attempting to retrieve files, the idea being that you could have the same `file id` or `file name` across multiple batches. As for retrieving the path, once you have this information it is trivial to retrieve it from the `DownloadManager`, simply call `getDownloadFileStatusWithMatching(downloadBatchId, downloadFileId)`

[2018-10-15 08:48] MechaRyRy commented on #444
Hi @omar753sahl I believe you will only see this the first time it attempts to persist into the DB and this is because of some technical debt on our part. If memory serves this crops up because we are attempting to add a file before we have added a batch which is why the foreign key fails.

Either way, this shouldn't cause any issues. If you are having problems please get back in touch. You should

[2018-10-15 15:55] MechaRyRy commented on #442
Hi @Hackmodford I've taken a look at the demo using the above `url`. I can see that it does indeed fail when triggering a `pause` and `resume`. I'm getting a `416` as you have said, my next question is, does this API support the `Range` header? I'm happy to take a look if you can forward me to any documentation. If the API does not support the range header then this would be why this fails, you ne

[2018-10-15 17:36] Hackmodford commented on #442
Hi @Mecharyry I'm not the developer of the API and it is a private API so there is no documentation I can really provide. However, I'm fairly certain it does support this. The response header claims it does support the range header and I am able to resume/pause downloads in the iOS version of my app as well as being able to resume the download using a REST client such as insomnia.

[2018-10-16 03:49] omarsahl commented on #444
Thanks for the clarification @Mecharyry
I thought this was an issue as the batch wasn't downloaded. I didn't get any notification or anything.

[2018-10-16 03:50] omarsahl commented on #443
Alright. Thanks @Mecharyry

[2018-10-16 03:50] #443 closed, assigned to nobody

[2018-10-16 07:15] MechaRyRy commented on #444
This might be a different issue then. Have you been able to reproduce using the `demo` of the library? I'd suggest you start there if you are having any sort of issues.

[2018-10-16 07:18] MechaRyRy commented on #442
Ah ok, it's annoying that the API is private. There could be something wrong with the ranges we are supplying for the file. I'll try and take a look again today and see if I can find anything else. Do you have a request with a byte range that you have seen work? The whole request including headers would be really useful.

For reference:
https://www.bigfinish.com/api/downloadab/895/get/?token=aa149

[2018-10-16 07:21] MechaRyRy commented on #437
Hi @matecode sorry for the delay but as you can see above we have just merged a PR that contains an open API for the http client. If you would like to have an early look at this you can use the snapshot build that is documented at the bottom of the readme. We'll be shipping this into production when we've done our own round of testing.

[2018-10-16 09:28] omarsahl commented on #444
Actually, I haven't used the demo at all. The library isn't that hard to use.
I have a singleton instance of `DownloadManager` injected through dagger2 like this
[code]
And then I use it to download some files in a batch
[code]
The batch is created like this:
[code]

[2018-10-16 09:28] omarsahl commented on #444
Am I missing something?

[2018-10-16 09:37] MechaRyRy commented on #444
It looks correct to me @omar753sahl, the only thing that looks a bit strange is the use of the same `id` for the batch and the file name but I can't see that being a problem. I'd suggest trying it out on the demo and see if you still have problems, or failing that perhaps linking some more verbose logs? Using the download manager log handle, that you already have added 😄

[2018-10-16 10:37] omarsahl commented on #444
So after tinkering around for a while, I found that for some reason the `LiteDownloadService` wasn't included in the merged Manifest.
So after explicitly adding It to the Manifest, It works!
Thanks for your help @Mecharyry

[2018-10-16 10:58] MechaRyRy commented on #444
How strange! Thanks for letting me know @omar753sahl, I'm going to close this issue now.

[2018-10-16 10:58] #444 closed, assigned to nobody

[2018-10-18 14:20] Hackmodford commented on #442
The team in charge of the API got back to me with some more info!

[2018-10-18 15:33] zegnus commented on #442
hi @Hackmodford, I think that by the specs https://datatracker.ietf.org/doc/rfc7233/?include_text=1 we should be requesting size-1. We'll some tests and feedback when finished.

[2018-10-18 15:36] Hackmodford commented on #442
@zegnus That’s excellent news! If this gets updated, I will, of course, be glad to test it in my app.

[2018-10-22 08:15] maboueita opened #445 "Addressing Background service constraints for Android O in version 0.3.0"
We are trying to address the issue leading to [this] (https://github.com/novoda/download-manager/issues/244) - and one possible solution could be turning com.novoda.downloadmanager.lib.DownloadService to a JobIntentService. Do you perhaps have insights, ran tests around walking this path, or could suggest a solution, even if temporary, that would leave version 0.3.0 behaving consistently?

P.S: I'

[2018-10-22 08:21] MechaRyRy commented on #437
Hi @matecode have you had a chance to try out the open API?

[2018-10-22 08:51] proninyaroslav opened #446 "Is there SAF support?"
Hi. Is there SAF (Storage Access Framework) support? This is important for downloading to the SD card on Android 4.4 and higher.

[2018-10-22 08:58] proninyaroslav opened #447 "Is there SAF support?"
Hi. Is there SAF (Storage Access Framework) support? This is important for downloading to the SD card on Android 4.4 and higher.

[2018-10-22 09:02] proninyaroslav opened #448 "SAF support"
Hi. Is there SAF (Storage Access Framework) support? This is important for downloading to the SD card on Android 4.4 and higher.

[2018-10-22 09:04] proninyaroslav opened #449 "SAF (Storage Access Framework) support"
This is important for downloading to the SD card on Android 4.4 and higher.

[2018-10-22 10:35] #446 closed, assigned to nobody

[2018-10-22 10:36] #447 closed, assigned to nobody

[2018-10-22 10:36] #448 closed, assigned to nobody

[2018-10-22 10:41] MechaRyRy commented on #449
Hi @proninyaroslav as far as I know we do not currently support the `Storage Access Framework`. Am I right in thinking that this is used for browsing and viewing documents? If you could provide links to any supporting documentation and provide us with a usecase, it will be considerably easier for us to answer your question / request. Thanks!

[2018-10-22 11:39] aclassen commented on #380
@Mecharyry I tested with latest master branch and i`m not able to reproduce the issue anymore. 👍

[2018-10-22 11:39] #380 closed, assigned to nobody

[2018-10-22 11:44] proninyaroslav commented on #449
This is a file access technology through a provider. This is the only way to write a file to external storage without knowing the absolute path(for >= 4.4). A provider provides a certain path to the storage but hides all the details of working with it, including the absolute path in file system. You can read about this https://developer.android.com/guide/topics/providers/document-provider

[2018-10-22 12:23] MechaRyRy commented on #449
Hi @proninyaroslav I see. I'm not sure I see what benefit this brings except to remove the need for absolute paths, something that can be done without needing to introduce the use of the `Storage Access Framework`. I see in the docs it is used for connecting to a variety of storage mediums, such as google drive and USB storage.

Do you have a specific usecase in mind, or is it just the `absolute p

[2018-10-22 13:13] proninyaroslav commented on #449
Please read this and you will understand why it is important
https://stackoverflow.com/questions/43066117/android-m-write-to-sd-card-permission-denied

[2018-10-22 13:40] MechaRyRy commented on #445
Hi @maboueita we understand that a migration to version two may not be possible but unfortunately we are no longer actively supporting version one of this library. If you wish to see any changes to version one I can only suggest you fork it, or alternatively open a PR against the branch on this repository.

Let me know if I can help with anything else.

[2018-10-22 14:33] maboueita commented on #445
Hi @Mecharyry, forking an own version would be the idea in this case. My question was more towards if you could provide insights on the impact/side-effects of the change I mentioned.

[2018-10-22 14:43] MechaRyRy commented on #445
Ah I see, I'm not that familiar with the impact or side-effects this might have, I've exclusively worked on v2. @joetimmins or @ouchadam may have some ideas?

[2018-10-22 15:57] giladgotman opened #451 "Files stay stuck in `DELETED` state"
We are in a process of migration from v1 to v2.
While testing v2, we encounter that after using the `delete` function, some files stay in `DELETED` state - forever.
We can see those files in the internal db of the library using stetho.
Once a file reaches this state we can basically do nothing.
We can't delete it and we can't try to re-download it because its id already exists.

I believe the prob

[2018-10-22 16:07] MechaRyRy commented on #449
Hi @proninyaroslav I've taken a look at the issue you have linked. From what I have read this would only be an issue if you were trying to save the downloaded file to an SD card that wasn't part of the app path. If you were not using https://developer.android.com/reference/android/support/v4/content/ContextCompat#getExternalFilesDirs(android.content.Context,%20java.lang.String)

The primary purpos

[2018-10-22 16:16] MechaRyRy commented on #451
Hi @giladgotman, let me see if I can help you.

I've not seen that particular issue before I have to say. Would you be able to provide a reproducible example?

I believe this could be an issue though, from what I remember we don't perform any checks on whether a download has actually been deleted.  Yes, here it is https://github.com/novoda/download-manager/blob/release/library/src/main/java/com/no

[2018-10-22 17:18] proninyaroslav commented on #449
Thank you.

[2018-10-22 17:18] #449 closed, assigned to nobody

[2018-10-23 09:55] giladgotman commented on #451
Thanks for the prompt response @Mecharyry.

I have found a scenario to reproduce it.
I discovered that we were doing `downloadManager.submitAllStoredDownloads` after calling `downloadManager.download` and  after `downloadManager.delete` by mistake.

I added this calls to the sample app and was able to reproduce it.
If you use the sample app, and press`Start downloading` and then repeatedly press t

[2018-10-23 10:07] giladgotman commented on #451
here is another log with verbose level: (using `batch 2` filter. batch 2 is the one that got stuck in DELETED)

[code]

[2018-10-23 10:45] MechaRyRy commented on #451
Thanks @giladgotman for all of the information! I'll try and take a look at this as soon as I am able and provide a fix. I'll try and keep you updated as I work on it.

[2018-10-23 16:14] Hackmodford commented on #442
I cloned the develop branch on my machine and tested downloading via the demo app. So far so good!

Once there is a release build with this change ready I will test in my actual app.

[2018-10-24 16:01] MechaRyRy opened #454 "DownloadManager.submitAllStoredDownloads swallowing events"
## Problem
It seems like that any call to the `submitAllStoredDownloads` is preventing further event calls, pause etc, from going through. I'm assuming that the reference we store in the internal map is being nuked on subsequent calls which leads to unexpected behaviour.

#### Steps to reproduce
- Open the demo application and start downloading
- Spam the "Download only over wifi button"
- Try to

[2018-10-24 16:06] MechaRyRy commented on #454
This doesn't seem to be tied to the job that reschedules because I can reproduce if I always remain in mobile network (making it never execute).

[2018-10-24 16:19] MechaRyRy commented on #437
Hi @matecode just to let you know that we have released a version with the changes you requested 😄 closing this issue now!

[2018-10-24 16:19] #437 closed, assigned to nobody

[2018-10-24 16:19] MechaRyRy commented on #442
Hi @Hackmodford, just to let you know that we have released a version that should resolve your issue! Let us know if you have any other questions 😄

[2018-10-24 16:19] #442 closed, assigned to nobody

[2018-10-24 17:32] Hackmodford commented on #442
@Mecharyry Just wanted to let you know, it is working in my app. Thanks for the help!

[2018-10-26 15:03] Lingviston commented on #454
Today I encountered the same bug, while playing with queue management.
My steps to reproduce (I used modified demo with 5 files instead of 2):
1. Start downloading of several files;
2. Verify that they're queued;
3. Verify that first file started downloading;
4. Fail downloading of the first file;
5. Verify that second file started downloading;
6. Pause or delete second file

**Expected**: Second

[2018-10-26 15:38] MechaRyRy commented on #454
Hi @Lingviston, I figured it would be something with the maps. I don't see how:

[code]
this has changed though, it looks the same to me. Are you saying just to update the `LiteDownloadManager#loadBatchesCallback` and it solves it?

You would still be queuing the same instance of the `DownloadBatch` against the executor. Now however, the map would only ever represent the original `DownloadBatch` w

[2018-10-26 15:55] Mecharyry commented on #454
The problem is `pause` / `resume` events are still not going through because

[2018-10-26 20:08] Hackmodford opened #455 "Feature Request: Ability to override allowed connection type."
Is it possible to let some batches download under any condition despite allowed network type? Sometimes when starting the downloads, I let the users specify if they would like to download the large files over cellular instead of wifi.

[2018-10-26 20:44] Lingviston commented on #454
@Mecharyry sorry, I pasted wrong snippet of code. I'll provide correct code snippet for the second change on Monday. Or maybe even do a PR.

I don't think that the first change is enough. In the use-case that I described - it might be (and I've proven it via smoke test) but I could imagine some scenaios where both bunches of changes are required.

[2018-10-29 08:11] Lingviston commented on #454
Here's a corrected code snippet:
[code]

[2018-10-29 08:49] MechaRyRy commented on #455
Hi @Hackmodford, sorry for the delay in getting back to you.

This would probably be quite a large change as it would require us to persist this network preference for per batch. I'll chat with the other devs and we'll see if we can plan it in. This would probably have to ship with a major/minor release of the library, so it won't be a quick turnaround unfortunately.

[2018-10-29 09:38] Lingviston opened #457 "Download manager can't properly restore if one of the download fails"
Steps to reproduce:

1. Install simple app;
2. Connect device through the proxy server. I used Charles Proxy;
3. Using proxy tool apply the following rewrite rule [20mb_404_fail.zip](https://github.com/novoda/download-manager/files/2524640/20mb_404_fail.zip). It is for Charles. It makes 404 http error to be returned on each request to 20 mb file.
4. Launch simple app and start downloading;
5. Obse

[2018-10-29 10:31] Lingviston commented on #457
@Mecharyry saw you created a PR but later on closed it. Do I need to create it by myself? I wanted to contribute:)

[2018-10-29 10:32] Lingviston commented on #454
@Mecharyry thank you for addressing it so quickly! I saw you created a PR, but later on it has been just closed. Does it make sense if I create it by myself? I wanted to contribute:)

[2018-10-29 10:33] Mecharyry commented on #457
Hi @Lingviston I was just adding a unit test for checking the map. I'll be reopening it soon. Could you only reply on issues/PRs which are relevant to the comment though 😄 it might confusing for some others. #456

[2018-10-29 10:36] MechaRyRy commented on #454
@Lingviston you can always pull the branch and add some tests if you wish? 😄 I won't have time until later today. Your choice!

[2018-10-29 13:14] MechaRyRy commented on #454
@Lingviston if you are interested you can test the fix we just did using the `snapshots` as detailed in the readme -> https://github.com/novoda/download-manager we'll try and get this released as soon as possible after taking a look at some other bugs.

[2018-10-30 11:32] Lingviston opened #458 "HTTP errors are overridden with WaitingForNetwork status"
Steps to reproduce:

1. Install simple app;
2. Connect device through proxy and override http status of the response to any of the files which is going to be downloaded to 404 (for example);
3. Start downloading.

**Expected**: Once file for which the response code has been overridden starts downloading it fails with Error status.
**Actual**: Once file for which the response code has been overridd

[2018-10-30 14:16] Lingviston commented on #454
@Mecharyry thanks. Fix is based on the changes which I already checked. Looking forward to get a new release soon.

[2018-11-12 09:34] MechaRyRy commented on #454
Released in `2.2.0`

[2018-11-12 09:34] #454 closed, assigned to nobody

[2018-11-12 09:35] MechaRyRy commented on #382
No response, closing.

[2018-11-12 09:35] #382 closed, assigned to nobody

[2018-11-12 09:35] MechaRyRy commented on #284
Addressed #433

[2018-11-12 09:35] #284 closed

[2018-11-12 09:36] #445 closed, assigned to nobody

[2018-11-12 09:37] MechaRyRy commented on #445
No response, closing.

[2018-11-24 11:51] sunwicked opened #463 "File not downloading in app's internal storage"
- Set up batch download
- Download location = Internal app's storage
- Download shows in progress then status changes to completed
But no file is present in the downloaded location.

Looks related to #190

[2018-11-26 07:59] altaf2892 opened #464 "unable to save file to particular folder"
i want to save downloaded file to  `  //String path = Environment.getExternalStorageDirectory().getPath() + File.separator + "App Name";`  but i  unable to do so....  can u help me?

[2018-11-26 09:53] MechaRyRy commented on #463
Hi @sunwicked is this issue with v1 or v2?

[2018-11-26 09:53] MechaRyRy commented on #464
Is this in relation to v1 or v2?

[2018-11-26 10:39] altaf2892 commented on #464
in v=2.2.0

[2018-11-26 10:52] MechaRyRy commented on #464
Thanks @altaf2892. Did you try this using the `demo`? If so, I would recommend checking using `Stetho` open a tab in Chrome and use `chrome://inspect/#devices`, this will allow you to access the db on the device. You can use this to check whether the path is what you expect. I'd then use `adb shell` if possible to confirm.

It shouldn't have any issues storing the paths as you want, we append a ba

[2018-11-26 11:22] altaf2892 commented on #464
**is this lib actually support to save to external path ?**

` private void downloadFile(String url, String name, final MessageData messageData) {
       /* String path = Environment.getExternalStorageDirectory().getPath() + File.separator + "app_Name";

*/
        Log.e("CHECK", url + "-" + name);
        Batch batch = Batch.with(new StorageRoot() {
            @Override
            public String

[2018-11-26 11:56] MechaRyRy commented on #464
@altaf2892 I think you are confusing some things here. It is not the responsibility of this library to request any necessary permissions required to store to a given directory. If you are storing to this particular apps storage directory then you have that implicitly as the caller. IF you need to store elsewhere then it is the responsibility of the client to gain the appropriate permissions and th

[2018-11-26 12:03] altaf2892 commented on #464
no u getting me wrong ,i am already handling permission i just want to save file at my desired location that's it..

[2018-11-26 12:18] MechaRyRy commented on #464
ok, fair enough. I'm not sure what this is doing as it is hidden in your application:

[code]

But this should be `Environment.getExternalStorageDirectory().getPath() + File.separator + "app_Name";` as it is the `root` that you desire. I've done the same in the demo application and I can see:

![screenshot 2018-11-26 at 12 18 27](https://user-images.githubusercontent.com/3380092/49013655-6a331380-

[2018-11-26 14:47] sunwicked commented on #463
v2

[2018-11-26 15:38] MechaRyRy commented on #463
@sunwicked would you be able to provide me with any source code so that I can help you out?

- Were you able to reproduce the issue with the demo?
- Do you have any example code, showing the `storage root` and `Batch.with` download locations.
- Did you request the necessary permissions for writing to your desired location?

[2018-11-29 10:33] MechaRyRy commented on #464
Hi @altaf2892 just wanted to check in and see if this resolved your issue?

[2018-11-29 11:57] altaf2892 commented on #464
i will update u soon

[2018-12-02 07:40] sunwicked commented on #463
Hi
The error was on my part. Wrong path supplied at the time of creating and getting the file.

[2018-12-02 07:40] #463 closed, assigned to nobody

[2018-12-07 09:24] MechaRyRy commented on #464
@altaf2892 I'm closing this issue due to inactivity. If you wish to raise the bug again with additional information so that we can help you out, that would be fantastic. We aim to get `question` answered within a few days and I'd rather not leave issues open for long periods of time unnecessarily.

[2018-12-07 09:24] #464 closed, assigned to nobody

[2018-12-12 06:02] mspmax opened #465 "deleteAll() functionality"
Hi, First of all, thank guys for the amazing library! which has a lot of functionalities OOTB. Was Just wondering if you all have any plans to add a `deleteAll()` function to the `DownloadManager` ? if not I would like to ask this as a feature request :)

[2018-12-12 13:33] MechaRyRy commented on #465
Hi @mspmax! I'm very happy to hear you like the library 😄 ❤️

We don't currently have plans to add a `deleteAll()` but I can certainly add it to our list of features 😄 we need to do some work around `delete` in general so this would a good addition. I'll try and keep this ticket up to date with any progress we make towards that end.

[2018-12-18 08:43] matecode opened #466 "Best way to catch HTTP errors"
Hi team,

what is your recommended way to catch http errors, e.g. 401 (in my case) ... It seems that the lib always try to download again, even if there is a 401 or 404.

Do i miss something to catch it? Maybe my question is related to #458
Thanks for your help!

[2018-12-18 08:44] matecode commented on #437
Great work, thx

[2018-12-18 10:13] MechaRyRy commented on #466
Hi @matecode,

From what I remember the errors should come batched in the `waiting for network` status but I can see that they are not. It seems like the request is most likely failing when attempting to get the `totalSize` of a given batch, at which point the download is swallowed and transitions to the waiting for network state without the error.

This is indeed a problem, we need to expose a si

[2018-12-18 10:18] matecode commented on #466
@Mecharyry thanks for the fast reply ...

Cool, i'm staying tuned and can't wait to replace the system DownloadManager ;)

[2018-12-18 11:24] pglebocki opened #467 "Need performance improvement for `onUpdate` call"
**There is following business scenario:**
- UI click on item to be downloaded
- pass downloading batch to download manager
- receive onUpdate() = QUEUED status
- display progress indicator on UI (only for initial queued state)

**Observation**.
There is quite big time gap between download() and onUpdate(). In case of my app about 500 - 1500 ms. This is causing bad visual experiance because progres

[2018-12-18 14:36] zegnus commented on #467
hi @pglebocki there is a parameter that you can add in the download manager builder that's for setting the speed at which you want to be updated (the progress bar, not the status of a batch). You can set it by progress or by time. Be aware that if you get callbacks too fast, the UI is not capable of refreshing the notifications UI as fast as you might think, as the callback is delivered in the UI

[2018-12-18 15:32] pglebocki commented on #467
Hi @zegnus
The speed of updating progress bar is not the problem.
What I need is to get QUEUED status by onUpdate() to be triggered immediately. I understand that content-lenght, storage size etc.. need to be checked probably before calling onUpdate, so I takes time. Maybe it's possible to add some additional status like REQUESTED to be triggered just after calling download() ?

[2018-12-18 15:38] MechaRyRy commented on #467
Hi @pglebocki, I understand your problem. The issue is with the initial time it takes from requesting a download to the first status being emitted. This is indeed a problem, I believe this has come up in conversation before with @zegnus, I would be tempted to either create a new status that we can emit immediately or see if we can perform a bit of a rework to emit the `QUEUED` status straight away

[2018-12-18 16:07] wman1980 opened #468 "Untrusted Certificate Authority"
Hi,

thanks for the new version. I migrated successfully from your old version to the new one. It was some hassle but it seems to work now.

I have one other question. Currently my app makes api-calls, image requests, and download requests against a server where I needed to trust an unknown certificate authority. So I updated my Volley code according to https://developer.android.com/training/artic

[2018-12-19 09:25] pglebocki commented on #467
@Mecharyry @zegnus
For me both solutions (reworking QUEUED / adding new status) are ok. I think implementing new status will be easier but it's about You guys.
Thanks :)

[2018-12-19 19:35] wman1980 commented on #468
Sorry, I got one working solution by having a look at you example and using the Builder for the download manager by passing it a custom HttpClient.

[2018-12-20 09:21] MechaRyRy commented on #468
That's great to hear @wman1980, do you mind if we close this issue?

[2018-12-20 15:14] wman1980 commented on #468
please close it.

[2018-12-20 16:55] #468 closed, assigned to nobody

[2019-01-09 03:42] tongtanhieu opened #469 "Help upgrade from v1 to v2"
Hello,
I have a project using v1, how to update my project to v2. I can't found any document about it. Please help me and thank for your awesome library.

p/s: sorry for my bad English

[2019-01-09 09:22] MechaRyRy commented on #469
Hi @tongtanhieu, did you take a look at the demo sample, specifically the `MigrationJob`?https://github.com/novoda/download-manager/blob/release/demo-simple/src/main/java/com/novoda/downloadmanager/demo/migration/MigrationJob.java

[2019-01-10 02:36] tongtanhieu commented on #469
thank you very much @Mecharyry , I will take a look into it.

[2019-01-14 05:18] mspmax commented on #451
@Mecharyry I there any update on this issue? i'm facing the same thing

[2019-01-22 05:37] mspmax opened #470 "Download does not work after Error state"
Hi Guys,

I have a requirement to do try again if some error occurs during the downloading process. And I noticed that if the download item goes to `FILE_CANNOT_BE_CREATED_LOCALLY_INSUFFICIENT_FREE_SPACE` error state I can not use `DownloadManager.download` again as it just doesn't return anything in the `DownloadBatchStatusCallback`.

Is this a known bug or am I missing something? I'm using versi

[2019-01-23 09:09] MechaRyRy commented on #470
Hi @mspmax, did you try the `resume` method? Resuming a download should force it to the `queued` state and then back to the `downloading` state. If this doesn't work then there is likely a problem and we will need more info!

[2019-01-24 11:42] #469 closed, assigned to nobody

[2019-01-31 13:13] matecode commented on #466
Any news on this? For me it's a blocking error if I cannot handle HTTP errors.

[2019-01-31 13:27] MechaRyRy commented on #466
Hi @matecode I'm sorry but none of the maintainers have had much time to look at the `download-manager` recently. I'm really sorry for this, it's not the situation I want you to be in.

I'm going to commit to having an answer back to you in a weeks time 7th February. Hopefully by that date I will have patched the issue and have it out in production. Again, I am really sorry that you are in this si

[2019-01-31 19:46] MechaRyRy commented on #470
Hi @mspmax, did you manage to resolve your issue?

[2019-02-01 16:58] wman1980 opened #471 "Download not working with Redirect"
Hi,

I encountered a problem downloading a file from a url which redirects to another url (e.g. redirected url points to a video file hosted by a video on demand platform like 3qsdn.com). Both https urls. If I try to download the file with the redirected url directly it works.

Any ideas?

Regards

[2019-02-04 09:10] wman1980 commented on #471
Actually this only occurs on Samsung Devices, e.g. S6 with Android 7.0.

I fixed it by adding:

`[try {
                ProviderInstaller.installIfNeeded(context);
            } catch (GooglePlayServicesRepairableException | GooglePlayServicesNotAvailableException e) {
                e.printStackTrace();
            }]`

before I create my RequestQueue with Volley.

I don't understand why this fi

[2019-02-04 09:25] MechaRyRy commented on #471
As per the docs on `ProviderInstaller`.

From what I understand when you perform a network call there are some security providers that are given. When you added the above, it bundled the `Google play` variety on top of this list, so that when a network call is now made it uses this new provider. As it is the `Google play` variety it is generally more up to date than the ones that are bundled on th

[2019-02-04 09:36] MechaRyRy commented on #471
I'll close this issue because you managed to resolve yourself. Let us know if you need any help with anything else.

[2019-02-04 09:36] #471 closed, assigned to nobody

[2019-02-05 11:52] MechaRyRy commented on #470
Closing due to lack of activity. Feel free to open another ticket if your issue still persists.

[2019-02-05 11:52] #470 closed, assigned to nobody

[2019-02-05 21:07] MechaRyRy commented on #466
Hi again @matecode, I've spent the last couple of evenings looking into the issue. See [here](https://github.com/novoda/download-manager/compare/develop...DLM-466/http_errors?expand=1) for the current progress.

It seems that the `FileSizeRequester` does not propagate errors of any kind. This is further compounded by the problem in that the `DownloadManager` is fine receiving `0` as a result of th

[2019-02-05 21:08] MechaRyRy commented on #466
Hey @zegnus it might be worth you having a look at my branch 😄 just on the off chance you have any ideas 😄

[2019-02-08 17:08] MechaRyRy opened #472 "Create a BatchBuilder from an existing batch"
### Problem
Sometimes clients may wish to create a `BatchBuilder` from a `Batch` so that they can add additional files etc to a batch prior to submitting it to the download manager.

### Solution
Expose a method on the `BatchBuilder` to create a new builder from a `Batch`.

[2019-02-13 01:13] mspmax opened #473 "DownloadBatchStatusCallback triggers for downloaded items after WAITING_FOR_NETWORK"
Guys,

As always I appreciate your work :). This is a question rather than a bug but because of this, it's causing an issue in my implementation.

Basically, I noticed that when the system goes offline every(in progress/queued etc ) batch goes to WAITING_FOR_NETWORK state. Which makes sense. But when we go back online I noticed the DownloadBatchStatusCallback will trigger **onUpdate** even for alr

[2019-02-13 08:39] MechaRyRy commented on #473
Hi @mspmax, as far as I know this is the correct behaviour. Inside the network recovery we perform a `LiteDownloadManager.submitAllStoredDownloads`.

The `submitAllStoredDownloads` does several things. It queues up downloads that have been in certain states, i.e. awaiting network. It populates the internal map, the one that is used as our in-memory source of truth for downloads. We then trigger a

[2019-02-15 01:45] mspmax commented on #473
Hi @Mecharyry,

Thank you so much for your prompt reply. It definitely makes sense from the library point of view but from a client perspective, we would only wanna know about batches which are **not** download completed during this scenario. any possibility on adding a check on the `submitAll` to omit the completed states? or maybe add a feature flag which we can configure?. I do understand this

[2019-02-15 01:48] mspmax opened #474 "Is there a SINGLE_DISMISSIBLE_NOTIFICATION ?"
Hi Guys,

This is a quick one. Is there a way I can implement single notification with dismissible action using the `NotificationCustomizer` ?

Thanks in advance!

[2019-02-15 01:58] mspmax commented on #473
And one more thing to add I noticed one more thing when the app recovers from a lost network connection it triggers all the notifications including the completed state. Steps to reproduce,

1. start downloading 3 batches and let it complete within this application lifecycle.
2. dismiss all the notifications
3. start one more and let it go to state `downloading` and remove network connection
4. the

[2019-02-15 08:42] MechaRyRy commented on #474
Hi @mspmax, assuming it can be done with the `NotificationCompat.Builder builder` found [here](https://github.com/novoda/download-manager/blob/release/library/src/main/java/com/novoda/downloadmanager/NotificationCustomizer.java#L31) you shouldn't have a problem that I can foresee. @zegnus is that correct?

[2019-02-15 08:47] MechaRyRy commented on #473
@mspmax thanks for your detailed replies 😄 they are really helpful.

This is a possibility, some work needs to be done around the network recovery in general, so we can certainly look into it. I'm unsure of a timeframe for this but I will try and keep you posted here.

This would be certainly due to the `submitAll`. Again tied to the above, so we need to have a look at it.

I'm going to rope @zegn

[2019-02-15 09:00] zegnus commented on #473
Hi @mspmax, for now, you can provide your own `NotificationCustomizer` to the library so that you can decide the type of notification the library should show per event. For example return `NotificationDisplayState.HIDDEN_NOTIFICATION` will not show it.

`.withNotification(new NotificationCustomizer<DownloadBatchStatus>()...`

In there you will receive a `DownloadBatchStatus` where you can check if

[2019-02-15 09:30] mspmax commented on #474
hi @Mecharyry, thank you for your reply, I'm doing something similar,
[code]
Basically, I don't want all the completed batches to stack as well as be single `persistant` cause user should have the option to dismiss when download is completed. Does it make sense ? :D let me know if you need more info.

cheers !

[2019-02-15 11:57] MechaRyRy commented on #474
Oh I see @mspmax, you are asking for `NotificationDisplayState. SINGLE_DISMISSIBLE_NOTIFICATION` right?

I just want to clarify the rest before I formulate a response:
You don't want to stack `DOWNLOADED` statuses? So if you receive two `DOWNLOADED` the first will be automatically dismissed and the second will be present for the user to dismiss if they want?

[2019-02-15 12:02] mspmax commented on #474
@Mecharyry  that's exactly what I meant :)

[2019-02-15 12:23] MechaRyRy commented on #474
Excellent @mspmax. Now I can help 😄 so as far as I know client applications would not be able to do this. The class that happens to handle the logic regarding notification dispatching is [here].(https://github.com/novoda/download-manager/blob/release/library/src/main/java/com/novoda/downloadmanager/ServiceNotificationDispatcher.java)

It seems reasonable to assume that we can make a change and hav

[2019-02-15 12:28] MechaRyRy commented on #473
I just wanted to add further to @zegnus's comment. These issues can be dealt with by client applications by introducing a thin layer on top of the `DownloadBatchStatusCallback`. For example an implementation of `DownloadBatchStatusCallback` whose responsibility it is to filter callbacks based on the status.

I'm assuming you have already done something similar 😂 I realise this is not ideal but it

[2019-02-22 09:13] MechaRyRy commented on #474
Hi @mspmax I think we might need some more information. There will always be at least one persistent notification, are you aware of this? We absolutely have to keep at least one persistent notification because of the constraints on running a Foreground Service.

If you don't want stacked notifications we can remove the previous but you will always have a minimum of two notifications, one for the o

[2019-02-24 22:18] mspmax commented on #474
hi @Mecharyry thanks for the reply, It's exactly what I was referring to. I'm aware of the fact that while in progress we have to have a persistent notification so a minimum of 2 is really fine. Thanks!

[2019-02-25 09:04] MechaRyRy commented on #474
@mspmax Let me know if this serves your purpose -> https://github.com/novoda/download-manager/pull/477

[2019-02-25 09:27] MechaRyRy commented on #350
Migration jobs are now client specific, this issue is not needed.

[2019-02-25 09:27] #350 closed, assigned to nobody

[2019-02-25 09:32] MechaRyRy commented on #455
@danybony @zegnus what do you think about this, should we allow greater flexibility when it comes to network connections?

[2019-02-25 10:23] zegnus commented on #455
@Mecharyry this requires a careful look into the recovery mechanism as well, I'll try to evaluate its complexity this week

[2019-02-25 11:17] MechaRyRy commented on #455
Just wanted to say that this is probably closely matching what we do for the [`StorageRequirementRule`](https://github.com/novoda/download-manager/blob/release/library/src/main/java/com/novoda/downloadmanager/StorageRequirementRule.java) in terms of functionality.

[2019-02-25 16:33] MechaRyRy commented on #474
@mspmax would you be able to test the snapshot to see if it suits your purpose -> https://bintray.com/novoda/snapshots/download-manager/SNAPSHOT-32

We won't perform a release of it until later this week, after you and I have tested it in production.

[2019-02-26 08:40] #472 closed, assigned to nobody

[2019-02-27 09:18] MechaRyRy commented on #253
Addressed in the above.

[2019-02-27 09:18] #253 closed

[2019-02-27 09:20] MechaRyRy commented on #474
Released in `2.3.0`, closing.

[2019-02-27 09:20] #474 closed, assigned to nobody

[2019-02-27 09:45] MechaRyRy commented on #466
@matecode would you be interested in trying out this branch -> https://github.com/novoda/download-manager/compare/develop...DLM-466/http_errors?expand=1

I think it might solve the problems you have been having but I do not have any demo / scenario to test it against. Would you be able to try it using `mavenLocal`? It would be great if you could let me know so I can come up with an alternative pla

[2019-02-28 08:35] MechaRyRy opened #483 "Network error treatment"
## Problem
Collapsing #458 and #466 into one issue so everything is easier to deal with.

The crux of the issue is that all `network issues` are treated as the same when they are not. Loss of connectivity that is brief is different from a server always returning an error code that will never resolve in an asset being downloaded. We need to stop treating them like they are the same.

## Potential S

[2019-02-28 08:36] MechaRyRy commented on #458
Collapsing this into #483. This requires more careful analysis.

[2019-02-28 08:36] #458 closed, assigned to nobody

[2019-02-28 08:37] MechaRyRy commented on #466
Collapsing this into #483. This requires more careful analysis.

[2019-02-28 08:37] #466 closed, assigned to nobody

[2019-02-28 08:38] MechaRyRy commented on #457
Closing. If it still occurs, feel free to reopen.

[2019-02-28 08:38] #457 closed, assigned to nobody

[2019-02-28 09:01] MechaRyRy opened #484 "Automatic releases on push to release branch"
## Problem
At the moment we still need to update the version of the library locally in the `build` file and then go to the CI in order to perform a release when something is merged to `release`.

## Solution
Pair with @mr-archano to come up with a better solution, he had ideas 👅

[2019-02-28 09:06] matecode commented on #483
For me as a developer a download manager should be a tool. This means that any errors that result in download can not being started or finished should be reported to the client so that it can make an informed decision about what to do. That means all network errors or server errors like SSLHandShakeExceptions or HTTP40X. On the other hand, this also means that all problems that make a download pos

[2019-02-28 14:33] MechaRyRy commented on #483
We've spent a little bit of time talking about this today and here's what I took away from our meeting:

- `FileDownloader.onError(String cause)` needs to be more strongly typed so we return the `network error code` and an `associated message`.
- `DownloadError` should be more strongly typed. Perhaps it should be `DownloadError<T>` so we type it to the particular scenario and the message becomes a

[2019-03-01 08:28] MechaRyRy commented on #483
I've created a [feature branch](https://github.com/novoda/download-manager/tree/DLM-483/feature_network_errors) where we can track the current progress. I'll be branching from it to tackle the list above, will update this issue with more information as I have it.

[2019-03-04 23:30] mspmax commented on #474
Hey @Mecharyry  thank's for the feature! really appreciate it 🥇

[2019-03-07 09:28] MechaRyRy commented on #483
`FileDownloader` strong type -> https://github.com/novoda/download-manager/tree/DLM-483/file_downloader_strong_type

[2019-03-11 03:20] mspmax opened #485 "When `Content-Length` is missing from Response, retry continues indefinitely"
Hi Guys,

I came across an issue during error handling and not sure whether it's a known one or i'm missing something here. When `Content-Length` is missing in the response header the system goes to an infinite loop(retries indefinitely) any clue on this?

Thanks in advance!

[2019-03-11 09:10] danybony commented on #485
Hi @mspmax, thanks for notify on the issue.
Do you have an example URL we can try to reproduce it?

[2019-03-12 05:48] mspmax commented on #485
Hi @danybony, thanks for the quick reply. Well basically our QA guys have tested with a dummy request URL which does not have `Content-Length` eg: google.com I know it sounds like an edge case but not sure why it does not fallback gracefully. Let me know your thoughts on this :). Cheers!

[2019-03-13 09:16] MechaRyRy commented on #485
Hi @mspmax, this particular issue would relate to #483. From what I can tell the likely thing that is happening here is that:

- `FileSizeRequester` performs a header request for the size, looking for `Content-Length` which is not present and therefor it will
- perform a body request, this body request will then be 0
- it will then try to download the file which will fail, this failure will be tra

[2019-03-13 23:23] mspmax commented on #485
Hi @Mecharyry, you're correct and this is the exact issue happening. I did debug. Anyway, I did a workaround as below, a sanity step to validate the URL and then terminate the stream if there's no `Content-Length` before triggering the download manager.

[code]

[2019-03-14 08:12] MechaRyRy commented on #485
@mspmax that workaround makes the most sense until we can build something into the `download-manager` to handle this. If you don't mind I'll close this ticket and reference it in the other as they are related.

[2019-03-14 08:13] #485 closed, assigned to nobody

[2019-04-02 13:23] MechaRyRy opened #489 "DownloadBatchStatusCallback"
## Problem
As mentioned in #488 we have `DownloadBatchStatusCallback` that returns a copy of an underlying `DownloadBatchStatus`, we then need to grab the "real" instance from the `Map` in order to update the `notificationSeen` when dispatching notifications.

Ideally we should make the cloning that we perform more explicit. At the moment we do not clone in the `File` downloader but we do in the b

[2019-04-12 03:45] mspmax opened #491 "Is there any possibility to bypass the initial head request ?"
Hi Guys,
We are facing an issue at the moment as we do high volume downloads (eg: 100 or more per batch) so it takes a considerable amount of time to start downloading. This is mainly due to the fact that head requests are done sequentially. So is there a way to improve this or basically a way to provide the content length before downloading? and to add to this I noticed that it does another HEAD

[2019-04-12 13:42] zegnus commented on #491
Hi @mspmax the problem with passing the length beforehand is that there is no guarantee that the values that you provide are going to be the ones reported by the endpoint causing corrupted downloads, I guess that this could be a risk to consider if we add this value.

In terms of the performance issue, parallel downloads are not currently supported and it would require a big change in the library.

[2019-04-16 00:42] mspmax commented on #491
Hi @zegnus, thanks for the prompt reply. I'm bit confused here so when we add few items to a Batch it means those are not done in parallel but sequential? but still, there can be any number of items per batch right?

[2019-04-16 08:22] zegnus commented on #491
@mspmax you are correct. Everything is sequential and you can add any number of items per batch and any number of batches; the library will process them one by one until everything is finished and there is no performance impact on the number of items to download in terms of network calls, also you won't overload an endpoint with 100s of opened connections.

[2019-04-16 08:26] mspmax commented on #491
Thanks, but the main issue is around the head requests as it takes a considerable amount of time. Basically, for 100 list of items in the batch it sends 100 head requests before starting to download.

[2019-04-16 10:20] MechaRyRy commented on #491
That's interesting, I'll take a look at that particular problem and open another issue to represent it.

The issue here is not with the actual download @zegnus it's with the smaller requests that we do at the beginning that could be done in parallel. We could probably do this or allow the clients to specify the size initially and we will trust what they tell us, if it is incorrect from that point

[2019-04-16 10:29] mspmax commented on #491
Exactly what I'm referring to @Mecharyry. Because we are getting the size from the backend as metadata so we can avoid the HEAD request overhead. In this specific case, all the small chunks are equally sized. If we can have an option to specify the size explicitly that will be really helpful as we are currently a bit stuck with a production release because of this issue.

Thanks in advance!

[2019-04-16 16:53] zegnus commented on #491
@Mecharyry as a quick fix I rather add a building option for specifying the size of each file than rushing on a multithreaded solution for the file request sizes

[2019-04-16 23:55] mspmax commented on #473
Thanks @Mecharyry  !

[2019-04-17 06:05] mspmax commented on #491
yes agree with @zegnus cause a multithreaded solution will hinder the servers as well.

[2019-04-17 08:04] MechaRyRy commented on #491
💥 https://github.com/novoda/download-manager/pull/492

This will need to be reviewed by some others and then we can get this on a snapshot for you to try @mspmax. I need to do some CI work before that however. Hopefully released by the end of the week as a full version.

[2019-04-17 23:35] mspmax commented on #491
@Mecharyry you're the best !  👍 👍

[2019-04-25 14:26] MechaRyRy commented on #491
Hey @mspmax sorry for the delay shipping this, I'm currently waiting for someone to get back from holiday to help me out with the CI for this project.

[2019-04-27 12:52] sealiasheq opened #493 "How can I set Header for links of downloads with this library?"
How can I set Header for links of downloads with this library?

[2019-04-29 00:14] mspmax commented on #491
@Mecharyry  no worries! and thanks for letting me know

[2019-04-30 07:03] mspmax commented on #491
btw @Mecharyry should the provided file size be exactly same as the actual one ? cause sometimes we might do an estimation as well

[2019-04-30 07:23] MechaRyRy commented on #491
@mspmax it should be exactly the same, I think there are checks that will fail otherwise during a download.

[2019-05-02 05:23] mspmax commented on #491
Hi @Mecharyry any updates on this? Thanks

[2019-05-03 08:46] MechaRyRy commented on #491
Hi @mspmax, unfortunately we are having some issues with our `bintray` accounts where we are hosting these releases. We've been trying hard to get them resolved but so far we haven't had a lot of luck. I'll try and keep you updated as I hear more. Sorry for the delay.

[2019-05-08 03:56] mspmax opened #494 "ERROR: Failed to resolve: com.novoda:download-manager:2.3.1"
Hi Guys,

I'm getting this weird issue since yesterday, it's failing to pull the dependency remotely. This happened on a fresh pull(after removing local build cache). Any idea ? or Am I missing something 🤔

Cheers!

[2019-05-08 08:02] MechaRyRy commented on #494
Hi @mspmax. This is an unfortunate consequence of an account migration that occurred recently. We are trying everything we can at the moment to rectify the issue. I'll feedback here when I know more. Sorry about this!

[2019-05-08 08:20] MechaRyRy commented on #494
@mspmax For now we would recommend adding the Bintray maven repo to your build like mentioned in novoda/espresso-support#24

[2019-05-13 09:26] mr-archano commented on #494
@mspmax it seems like the issue with JCenter is resolved. You should be able to find the artifact in JCenter like before:
https://jcenter.bintray.com/com/novoda/download-manager/

This means that you could also remove from your buildscript the additional maven repo suggested by @Mecharyry in case you added it.

[2019-05-13 09:43] mspmax commented on #494
Thanks! @Mecharyry  and @mr-archano

[2019-05-13 09:50] #494 closed, assigned to nobody

[2019-05-15 14:59] MechaRyRy opened #496 "Move towards using the StorageManager"
## Problem
At the moment we are using the `File` API for determining the amount of space we have available for saving download assets. In this PR `lint` notified us that we could use the `StorageManager`.

## Next Steps
See if the `StorageManager` is viable for this library, what benefits it gives etc and implement for the `StorageRequirementRule` if we deem necessary.

[2019-05-15 15:04] MechaRyRy opened #497 "Deleted notifications are not dismissed"
## Problem
I noticed when testing on `Pixel2` that when starting a download and then triggering a delete that the notification is persisted 😬

## Solution
Ideally these deleted notifications should be removed from the system notifications. Probably there is a bug in the notification dispatcher.

[2019-05-16 11:47] sealiasheq opened #498 "When I closed application and come back to application I can't have any downloadBatchStatus?"
When I closed application and come back to application I can't have any `downloadBatchStatus`(my application is downloading yet), how can I get `downloadBatchStatus`(my application is downloading yet) when I come back to application?

[2019-05-16 17:20] MechaRyRy commented on #498
I'm sorry @sealiasheq but I don't understand the issue.

We would always suggest you try reproducing the issue with the `demo` and supplying us with reproducible steps so that we can help you.

[2019-06-05 01:43] elee20 commented on #497
Had same issue.
Seems that LiteDownloadManagerDownloader.java has a bug.
Because "DELETE ALL" button deletes downloadBatch,
below notification is never updated.

if (downloadBatch != null) {
   notificationDispatcher.updateNotification(downloadBatch.status());
}

[2019-06-05 09:50] tobiasheine opened #499 "DownloadsNetworkRecoveryCreator not initialised"
From our logs:

`Fatal Exception: java.lang.IllegalStateException: There is no instance available, make sure you call DownloadsNetworkRecoveryCreator.create(...) first
at com.novoda.downloadmanager.DownloadsNetworkRecoveryCreator.getInstance(DownloadsNetworkRecoveryCreator.java:23)
at com.novoda.downloadmanager.DownloadBatch.processNetworkError(DownloadBatch.java:178)
at com.novoda.downloadmanager

[2019-06-05 09:53] tobiasheine commented on #499
Could be due to a race condition in `com.novoda.downloadmanager.DownloadManagerBuilder#build` where we **first** initialise the `LiteDownloadManager` and then create the `DownloadsNetworkRecovery`.

[2019-06-05 13:30] maciej-wichrowski opened #501 "DownloadManager in androidx.work.Worker"
What we have tried to achive is to run a download manager void delete(DownloadBatchId downloadBatchId) from androidx.work.Worker.
 It seems to have been working sucessfully but when app goes to background (or is killed) then on some devices there are frequent occurances of:

       at com.novoda.downloadmanager.DownloadManagerBuilder$1.onServiceConnected(DownloadManagerBuilder.java:252)
       at

[2019-06-05 14:53] tobiasheine commented on #499
Fix will be released as part of `2.3.2`

[2019-06-05 14:53] #499 closed, assigned to tobiasheine

[2019-06-06 20:48] Hackmodford opened #504 "Repeated calls of status DOWNLOADED"
I have a particular file that is giving me trouble. When the download completes I get 32 calls in the DownloadBatchStatusCallback that this file has completed downloading. This is causing issues with the processing that I perform on the file afterwards. It seems to have something to do with the specific zip file my app is downloading as other (larger) files seem to be working fine.

Any idea why t

[2019-06-07 08:01] MechaRyRy commented on #504
Hi @Hackmodford are you able to reproduce this on the demo? If you can do that it will be much easier for us to help you. Also, what version of the `download-manager` are you working? Which versions of android have you seen this on?

[2019-06-07 13:45] Hackmodford commented on #504
I updated to 2.3.0, but it didn't seem to make a difference.
I will see if I can get the demo app to do it.

[2019-06-07 14:31] Hackmodford commented on #504
I was unable to get the demo app to do it.

However, I was able to find a way to stop my code from trying to reprocess the downloaded file.
It's very strange...

I have ensured that my download manager is only created once.
The call to download the file only happens once.
I only add a DownloadBatchCallback once.

But the download complete gets called multiple times for this particular download in

[2019-06-07 14:50] MechaRyRy commented on #504
Unfortunately if it can't be reproduced in the demo app it will be very difficult for us to help you. I will say that the `Download-Manager` is designed to be single instance so if you are creating multiples I would fix this as a first priority.

If it's ok with you I am going to close this issue. If you are able to reproduce with the demo in any way then feel free to reopen it 😄

[2019-06-07 14:50] #504 closed, assigned to nobody

[2019-07-07 12:51] lkaminskivim opened #505 "Problem with URL containing query string"
Hi,

When url contains query params (?name=val&...), then entire query string is included in file name. This is because FileNameExtractor.java keeps everything after last "/".

This leads FilePathCreator.java to create wrong path. This is because it eliminates redundant part of path using String.replaceAll method which treats its argument as regex. So in case of file name already containing query

[2019-07-08 07:40] MechaRyRy commented on #505
Thank you very much for letting us know. We'll try and fix this as soon as we are able 👍

[2019-07-08 07:52] MechaRyRy commented on #505
Just an FYI that you can workaround this issue in the meantime by using https://github.com/novoda/download-manager/blob/release/library/src/main/java/com/novoda/downloadmanager/BatchFileBuilder.java#L35 to specify the `path` and `file` name directly for a file rather than using the extractor.

[2019-07-10 13:54] lkaminskivim opened #506 "Problem with temporary URL"
Hi,

Currently I use temporary urls for download. When url expires I receive code 403, but from download manager I get 'WAITING_FOR_NETWORK', like when internet is off.

After some debugging I noticed that in DownloadBatch.shouldAbortAfterGettingTotalBatchSize  totalBatchSizeBytes is 0, which is then considered network error.

[2019-07-10 14:00] #506 closed, assigned to nobody

[2019-07-10 14:00] lkaminskivim commented on #506
duplicated

[2019-07-23 12:32] jakubvimn opened #507 "Provide info about batch directory in DownloadBatchStatus"
Use case:
After download a batch, I need to do some post-processing with the files after they are downloaded (e.g. extract a downloaded zip archive to the directory with the rest of downloaded files).
Later, when I delete the batch, i want to delete the whole directory (not only the files that were downloaded, but only the ones that I added to the download directory).

Solution:
Provide informatio

[2019-08-09 22:12] JesseCrocker opened #510 "Attempt to invoke virtual method 'void Ep.submitAllStoredDownloads(com.novoda.downloadmanager.AllStoredDownloadsSubmittedCallback)' on a null object reference"
Im seeing this crash in production, but am not able to reproduce it.

[code]

It does not seem to be specific to OS version, or device manufacturer, and it is happening with the app in the foreground and background.

Using version 2.3.0.

[2019-08-30 13:48] ouchadam opened #517 "Enforce filename uniqueness"
It's possible to encounter misleading `file mismatch` errors when the same file names are used as the library will unknowingly append to already downloaded files.

[code]

I encountered this issue when using the default naming with urls that end with the same path and each file has a unique ID

[code]

Currently the library forces IDs to be unique, perhaps filenames should be checked as well?

[2019-08-30 13:50] ouchadam commented on #505
I would argue this isn't a responsibility of the library since there's a way to customise the creation of the filename 👻

Although it would be good to document the behaviour

[2019-09-19 20:26] #510 closed, assigned to nobody

[2019-09-26 07:30] ouchadam commented on #497
looks like this was fixed by https://github.com/novoda/download-manager/pull/508

[2019-09-26 07:32] ouchadam commented on #501
looks like https://github.com/novoda/download-manager/pull/513 should have fixed this issue 🤞

[2019-09-26 16:56] #497 closed, assigned to nobody

[2019-09-27 08:46] ouchadam opened #519 "Migrate to androidx"
androidx has been out a while now and there's a build time overhead of jetifying libraries

Related https://github.com/evernote/android-job/pull/583

[2019-09-30 20:13] ouchadam opened #521 "Migrate to WorkManager"
Evernote android-job has been deprecated (and has some internal ANR issues)

https://github.com/evernote/android-job

[WorkManager](https://developer.android.com/topic/libraries/architecture/workmanager) is the recommended replacement

[2019-10-01 10:09] ouchadam opened #522 "disk I/O error (code 4874): , while compiling: PRAGMA journal_mode"
We're seeing crashes when the room database is initialised, from google'ing around, this error code is related to `WAL`.

I'm hoping upgrading to the latest version of room will address this as I can't find any recent references to the issue (which #519 addresses)

Have you seen this issue before?

[code]

https://sqlite.org/rescode.html#ioerr_shmsize

The SQLITE_IOERR_SHMSIZE error code is an ext

[2019-10-01 11:04] MechaRyRy commented on #522
Yea I've seen this issue before 😢 I'm not sure why it is cropping up again though 😭

[2019-10-10 14:07] jakubvimn commented on #505
I think that it's the library responsibility to work correctly and the `FileNameExtractor` does not in all cases, because it can't handle properly urls with query parameters :)
In order to fix the implementation, only one additional split is needed. Kotlin version below:
`assetUrl.split("/").last().split("?").first()`

[2019-10-14 07:35] ouchadam commented on #522
The error still occurs with the latest room upgrade, potentially we could catch the error and reopen the database connection in a non wal mode, although the docs suggest it could be due to the filesystem being out of space https://sqlite.org/rescode.html#ioerr_shmsize

although this commit would suggest a new status code will be returned `SQLITE_FULL`  https://android.googlesource.com/platform/ext

[2019-10-15 12:48] Konrad-Morawski opened #525 "Allow to identify which DownloadBatchRequirementRule was violated if download fails"
## Issue

While the library currently allows for setting up *multiple* requirement rules (`DownloadBatchRequirementRule`) that have to be met in order for the download to be successful, there is no way for determining which of the rules was violated, once it happens.
The `DownloadError` instance that the calling code gets presented with only contains a general indication that some rule was violate

[2019-10-25 09:18] ouchadam commented on #519
done by #520

[2019-10-25 09:18] #519 closed, assigned to nobody

[2019-12-30 12:59] Konrad-Morawski opened #528 "Prioritization download requests (enhancement idea)"
A feature the library currently doesn't provide is **prioritization of queued downloads.**
I have encountered a real-life usecase for it, whereby a client app is supposed to distinguish between _auto-initiated_ and _user-initiated_ downloads, considering the latter (understandably) to be of higher priority.
What are you thoughts, or plans, on such a feature?

From what I see, the library is unopin

[2020-01-07 10:02] wman1980 opened #529 "minSdkTarget 14 not valid anymore for version 2.3.4 due OKHttp"
Hi everybody,

unfortunately you minSdkTarget is not valid anymore since you updated okhttp to 4.1.0 which requires at least ApiLevel 21, see: https://medium.com/square-corner-blog/okhttp-3-13-requires-android-5-818bb78d07ce

am I right?

[2020-05-06 21:36] SoheibBettahar opened #531 "java.lang.RuntimeException: Can't create handler inside thread that has not called Looper.prepare()"
java.lang.RuntimeException: Can't create handler inside thread that has not called Looper.prepare()
        at android.os.Handler.<init>(Handler.java:208)
        at android.os.Handler.<init>(Handler.java:122)
        at android.widget.Toast$TN.<init>(Toast.java:351)
        at android.widget.Toast.<init>(Toast.java:106)
        at android.widget.Toast.makeText(Toast.java:265)
        at com.ssqua

[2020-10-12 00:23] Hackmodford opened #534 "Xamarin Binding"
I was experimenting with creating a Xamarin binding for this awesome library. One issue I ran into was the evernote job dependency. I see that this has been changed in PR https://github.com/novoda/download-manager/pull/532.

Is there an expected ETA when there will be a new release that incorporates this change?

[2020-10-12 07:29] jszmltr commented on #534
I am not sure if this library is still on active development, last release was ~1 year ago.
Maybe @Mecharyry  would know ? 👀

[2020-10-12 12:14] Hackmodford commented on #534
@jackszm I think it is. Last commit into develop was in August.

I sure hope it is because I use this library extensively in one of my apps!

[2020-10-13 17:32] Hackmodford commented on #534
I got past the android-job dependency by binding that library myself.

Now the issue I have is when I start a download it just hangs at 0%